
.form{
  padding:30px;
  /*
  select{
    position: absolute;
    width: 30%;
    height: 49px;
    padding-left: 15px;
    border-right: 1px solid #efefef;
  }
  input:first-of-type{
    padding-left: 30%;
    text-indent: 15px;
  }
  */
}
