
.item{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  &:hover{
    background-color:rgba(255,255,255,.9);
    cursor: hand;
    cursor: pointer;
  }
}

.item-active{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}

.head{

  font-size: 12px;
  z-index: 999;
  padding:15px 15px 10px 65px;

  .avatar{
    position: absolute;
    margin:0 0 0 -50px;
    width: 40px;
    height: 40px;
    background-color: #efefef;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 40px;
      height: 40px;
    }
  }

  .right{
    float:right;
  }

  .info{

    width:100%;
    line-height: 20px;

    a{
      color:#ABA8A6;
    }

    b{
      font-size: 13px;
      font-weight: 500;
      color:#222;
    }

    a:hover{
      text-decoration: underline;
    }

    div > span{

      color:#ABA8A6;

      &:after{
        color:#ABA8A6;
        font-size: 9px;
        margin:0 5px 0 5px;
        content: '•';
      }

      &:last-child:after{
        content: '';
      }

    }

  }

}

.title{
  font-size: 17px;
  word-break:break-all;
  word-wrap:break-word;
  font-weight: bold;
  padding:0 15px 0 15px;
  a{
    color:#333 !important;
  }

  a:hover{
    text-decoration: none;
  }

}

.content{
  // font-size: 14px;
  word-break:break-all;
  word-wrap:break-word;
  line-height: 22px;
  padding:0 15px 0 15px;
  span:hover{
    color:rgb(94, 94, 94);
    cursor: hand;
    cursor:pointer;
  }
  a{
    white-space:nowrap;
    margin-left:10px;
  }
}

.content-have-img{

  // padding-left:200px;
  min-height: 100px;

  .images{
    float:right;
    // position: absolute;
    // margin-left:-200px;
    > div{
      width: 150px;
      height: 100px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5px;
    }
  }

}


.footer{
  width: 100%;
  padding:10px 15px 15px 15px;

  .action-item{
    margin-right:15px;
    cursor: pointer;
    cursor: hand;
    color:rgb(110, 110, 110);
  }

}

.comment-container{
  border-top:1px solid #efefef;
  padding:15px;
  > div{
    // padding:20px;
    border:1px solid #efefef;
    // border-radius: 10px;
  }
}
