
.header-space{
  height:55px;
  width: 100%;
}

.logo{
  display: block;
  width:130px;
  height: 45px;
  background-size: contain;
  background-image: url(../../../../public/logo.png);
}

.search-container{

  width:100%;
  max-width: 250px;

  .search{
    width:100%;
    height: 30px;
    border: none;
    padding:0 0 0 30px;
    background-image: url(./images/search.png);
    background-size: 22px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    outline: none;
    background-color: rgba(0,0,0,.05);
    margin-left:10px;
  
    &:hover{
      background-color: rgba(0,0,0,.08);
    }
  
  }

}

.user-nav{

  position: relative;

  li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-left:10px;


    > a{
      display: inline-block;
      // height: 45px;
      line-height: 45px;
      padding: 0 10px 0 10px;
    }

  }

  .avatar{
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
    margin-top:10px;
    background-color: #efefef;
  }

  .unread{
    position: absolute;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    padding:0px 5px 0px 5px;
    margin:12px 0 0 -3px;
    border-radius: 20px;
    background-color: red;
    color:#fff;
    font-size: 11px;
  }

  @media (min-width: 660px) and (max-width: 100000px) {

    .create-posts{
      height: 30px;
      line-height: 30px;
      border-radius: 4px;
      margin-top:7px;
      margin-left:10px;
      margin-right:10px;
      color:#fff;
      background-color:#4170ea;
      &:hover{
        background-color:#4e7df7;
      }
    }

  }

  @media (min-width: 0px) and (max-width: 660px) {
    > ul > li > a{
      padding-right:5px;
      padding-left:5px;
    }
  }

  @media (min-width: 0px) and (max-width: 350px) {
    > ul > li > a{
      padding-right:0px;
      padding-left:0px;
    }
  }

}
