
.header-space{
  height:60px;
  width: 100%;
}

.header{
  top:0px;
  left:0px;
  width:100%;
  position: fixed;
  height: 50px;
  background: #fff;
  z-index: 99;
  border-bottom: 1px solid #eceef0;

  > div > div{
    height: 50px;
  }

}

.logo{
  > img{
    min-width: 30px;
    margin-top:10px;
  }
}

.slogan{
  margin:15px 0 0 10px;
  color:#68737d;
  font-size: 15px;
  &:before{
    content:"•";
    margin:0 10px 0 0;
    color:rgba(0,0,0,.15);
  }
  &:hover{
    text-decoration: none;
    color:#0073ff;
  }
}

.nav{
  margin:0 0 0 15px;

  > a {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    padding:0 15px;
    font-size: 15px;
    // color:#484848;
  }

  .subscript{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    // margin:15px 0 0 0px;
  }
  
  .unread-subscript{
    position: absolute;
    height: 15px;
    line-height: 15px;
    padding:0 5px;
    margin:-5px 0 0 -8px;
    border-radius: 20px;
    background-color: red;
    color:#fff;
    font-size: 11px;
  }

  .new-posts-button{
    float:left;
    height: 28px !important;
    line-height: 28px;
    background-color: #0073ff;
    color:#fff;
    margin:11px 20px 0 0;
    border-radius: 16px;
  }

}

.search{
  
  width:100%;
  max-width: 260px;
  margin-top:10px;
  margin-left:15px;

  input{
    width:100%;
    height: 30px;
    border: none;
    padding:0 0 0 30px;
    background-image: url(./images/search.png);
    background-size: 22px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    outline: none;
    font-size:14px;
    background-color: rgba(0,0,0,.04);
    border-radius: 15px;  
    &:hover{
      background-color: rgba(0,0,0,.05);
    }
  
  }

}

.avatar{
  font-size: 15px;
  padding-right:0px !important;

  > div{
    position: absolute;
    margin-left:-25px;
    top:12px;
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
    background-color: #efefef;
  }

  > span{
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}





// 移动端适配
@media (min-width: 450px) and (max-width: 767.98px) {
  .nav{
    margin:0px;
    .new-posts-button{
      display: none !important;
    }
  }
}

@media (min-width: 350px) and (max-width: 450px) {
  .nav{
    margin:0px;
    >a{
      padding:0 10px;
    }
    .new-posts-button{
      display: none !important;
    }
  }
}

@media (min-width: 0px) and (max-width: 350px) {

  .nav{
    margin:0px;
    >a{
      padding:0 8px;
      font-size: 14px;
    }

    .new-posts-button{
      display: none !important;
    }

  }



}

// dark mode
:global(#dark-theme){
  .header{
    background-color: #333845;
    border:none;
  }
}

