
.header-space{
  height:56px;
  max-width: 700px;
  // transform: scale(0.5);
  background: #fff;

  margin: 0 auto;
}

.line{
  position: absolute;
  height:10px !important;
  background-color: #0073ff;
  z-index: 100;
  // margin:0 auto;
}

.header{
  top:0px;
  left:0px;
  width:100%;
  position: fixed;
  height: 55px;
  // background: #fff;
  z-index: 99;

  // border-bottom: 1px solid #eff0f2;

  // -webkit-backdrop-filter: saturate(180%) blur(20px);
  // backdrop-filter: saturate(180%) blur(20px);
  // background-color: rgba(255,255,255,0.7);
  // box-shadow: 0 1px 0px rgba(236, 238, 240, .7);

  > div {
    max-width: 700px;
    // backdrop-filter: saturate(180%) blur(20px);
    // box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    // border-bottom:1px solid #dcdfe5;

    box-shadow: 0 1px 0px rgba(0, 0, 0, .08);
    background-color: #fff;
    padding-left:20px;
    padding-right:20px;
  }

  > div > div{
    height: 55px;
  }

}

.logo{
  display: block;
  width:90px;
  height: 30px;
  background-size: contain;
  background-image: url(../../../../public/logo.png);
  margin-top:12px;
}

.slogan{
  margin:15px 0 0 10px;
  color:#68737d;
  font-size: 15px;
  &:before{
    content:"•";
    margin:0 10px 0 0;
    color:rgba(0,0,0,.15);
  }
  &:hover{
    text-decoration: none;
    color:#0073ff;
  }
}

.nav-left{
  .nav-item{
    height: 55px;
    line-height: 55px;
    margin:0 15px 0 15px;
    text-decoration: none !important;
    font-size: 15px;
    // color:#868b95;
    &:hover{
      color:#0073ff;
      // border-bottom: 3px solid #027cfa;
    }
  }
  
  :global{
    .active {
      color:#027cfa !important;
      border-bottom: 3px solid #027cfa;
      &:hover{
        color:#027cfa;
      }
    }
  }
}

.nav{

  .favorite, .notification, .message, .search, .avatar{
    margin-left:10px;
    margin-top: 10px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 35px;
    height: 35px;
    border-radius:50%;
    &:hover{
      background-color: #e7e9f1;
    }
  }
  .favorite{
    background-image: url(./images/favorite.png);
  }
  .notification{
    background-image: url(./images/notification.png);
  }
  .message{
    background-image: url(./images/message.png);
  }
  .search{
    background-image: url(./images/search.png);
  }
  
  .avatar{
    margin-top:14px;
    margin-left:15px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }


  .subscript{
    position: absolute;
    margin:6px 0 0 20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
  }
  
  .unread-subscript{
    position: absolute;
    height: 16px;
    line-height: 16px;
    padding:0 5px;
    margin:3px 0 0 18px;
    border-radius: 20px;
    background-color: red;
    color:#fff;
    font-size: 12px;
  }

  // .new-posts-button{
  //   float:left;
  //   height: 28px !important;
  //   line-height: 28px;
  //   background-color: #0073ff;
  //   color:#fff;
  //   margin:11px 20px 0 0;
  //   border-radius: 16px;
  // }

}




// 移动端适配
@media (min-width: 450px) and (max-width: 767.98px) {
  .nav{
    margin:0px;
    .new-posts-button{
      display: none !important;
    }
  }
}

@media (min-width: 350px) and (max-width: 450px) {
  .nav{
    margin:0px;
    >a{
      padding:0 10px;
    }
    .new-posts-button{
      display: none !important;
    }
  }
}

@media (min-width: 0px) and (max-width: 350px) {

  .nav{
    margin:0px;
    >a{
      padding:0 8px;
      font-size: 14px;
    }

    .new-posts-button{
      display: none !important;
    }

  }



}

// dark mode
:global(#dark-theme){
  .header{
    background-color: #333845;
    border:none;
  }
}

