
.header-space{
  height:60px;
  width: 100%;
}

.header{
  top:0px;
  left:0px;
  width:100%;
  position: fixed;
  height: 50px;
  background: #fff;
  z-index: 99;
  border-bottom: 1px solid #eceef0;

  > div > div{
    height: 50px;
  }

}

.logo{
  > img{
    min-width: 30px;
    margin-top:10px;
  }
}

.nav{
  margin:0 0 0 15px;

  > a {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    padding:0 15px;
    font-size: 15px;
    color:#484848;
  }

  .subscript{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    margin:15px 0 0 0px;
  }
  
  .unread-subscript{
    position: absolute;
    height: 14px;
    line-height: 14px;
    padding:0 5px;
    margin:12px 0 0 -8px;
    border-radius: 20px;
    background-color: red;
    color:#fff;
    font-size: 11px;
  }

}

.search{
  
  width:100%;
  max-width: 260px;
  margin-top:10px;
  margin-left:15px;

  input{
    width:100%;
    height: 30px;
    border: none;
    padding:0 0 0 30px;
    background-image: url(./images/search.png);
    background-size: 22px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    outline: none;
    font-size:14px;
    background-color: rgba(0,0,0,.04);
    border-radius: 15px;  
    &:hover{
      background-color: rgba(0,0,0,.05);
    }
  
  }

}

.avatar{
  font-size: 15px;
  padding-right:0px !important;

  > div{
    position: absolute;
    margin-left:-25px;
    top:12px;
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
    background-color: #efefef;
  }

}


// 移动端适配
@media (min-width: 450px) and (max-width: 767.98px) {
  .nav{
    margin:0px;
  }
}

@media (min-width: 350px) and (max-width: 450px) {
  .nav{
    margin:0px;
    >a{
      padding:0 10px;
    }
  }
}

@media (min-width: 0px) and (max-width: 350px) {

  .nav{
    margin:0px;
    >a{
      padding:0 8px;
      font-size: 14px;
    }
  }

}

// dark mode
:global(#dark-theme){
  .header{
    background-color: #333845;
    border:none;
  }
}

