.select {
  border-radius: 3px;
  height: 40px;
  border:none;
  padding-right: 25px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #a7a7a7;
  background-image: url("./images/select.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 22px;
}
