// 边框颜色
$color_border: #dfe1e9;

:global{

  @media (min-width: 0px) and (max-width: 575px) {

    .card{
      border: none;
    }

    .border{ border: 0.5px solid $color_border !important; }
    .border-top{ border-top: 0.5px solid $color_border !important; }
    .border-right{ border-right: 0.5px solid $color_border !important; }
    .border-bottom{ border-bottom: 0.5px solid $color_border !important; }
    .border-left{ border-left: 0.5px solid $color_border !important; }
  }

  @media (min-width: 576px) and (max-width: 767px) {
  }

  @media (min-width: 768px) and (max-width: 991px) {
  }

  @media (min-width: 992px) and (max-width: 1199px)  {
  }

  @media (min-width: 1200px) {
  }

}