

:global{
  /*
  @media (min-width: 0px) {
    html, body {
      color: #000;
    }
  
    //======================================================
    // 链接默认颜色
    a{
      color: #000;
      &:hover{
        color: #000;
      }
    }
  }
  
  @media (min-width: 576px) {

    html, body {
      color: $color_dark;
    }
  
    //======================================================
    // 链接默认颜色
    a{
      color: $color_dark;
      &:hover{
        color: $color_dark;
      }
    }

  }
  */
  
  @media (min-width: 768px) {

  }
  
  @media (min-width: 992px) {

  }
  
  @media (min-width: 1200px) {

  }
  
  }