@import "../global/base.scss";

.question{
  padding:15px;
  background-color: #fff;
}

.head{

  .author-avatar{
    float:right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left:40px;
  }

  span{
    font-size: 12px;
    color:#cccccc;

    &:after{
      color:#d8d8d8;
      font-size: 9px;
      margin:0 5px 0 5px;
      content: '•';
    }

    &:last-child:after{
      content: '';
    }

    a{
      color:#555;
      &:hover{
        text-decoration: underline;
      }
    }

  }

}

.title{
  margin:5px 0 0px 0;
  font-size: 22px;
  word-break:break-all;
  word-wrap:break-word;
}

.detail{
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top:1px solid $light-gray;
}

.other{
  padding:10px 15px 10px 15px;
  background-color: #fff;
  border-top:1px solid $light-gray;
  margin-bottom:10px;
}

.actions{
  float:right;
  a{
    font-size: 13px;
    margin-left:10px;
  }
}
