.body{

  padding:15px;

  a{

    display: block;
    margin-bottom:10px;
    color:#555;
    font-size: 12px;

    b{
      font-size: 14px;
      color:#14171a;
    }

    &:last-child{
      margin-bottom:0px;
    }
    
  }

}