.new-posts{
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #4170ea;
  color:#fff;
  text-align: center;
  margin-bottom:10px;
  border-radius: 12px;
  &:hover{
    background-color: #4d78e9;
    color:#fff;
  }
}
