.box{
  max-width: 850px;
  margin:0 auto;
}

.comment-list{
  background-color: #fff;
  border-radius: 4px;

  :global{

    .list-group > div:first-child{
      border:none !important;
    }

    .pagination{
      border-top:1px solid #efefef;
    }
  }
}

.editor-comment{
  margin-top:10px;
  margin-bottom:40px;
  border-radius: 4px;
  overflow: hidden;
}
