.share{

  li{
    display: inline-block;
    margin-right: 10px;
  }

  a{
    font-size: 13px;
  }

}

.mark{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
}

.qrcode{
  position: fixed;
  top:50%;
  left:50%;
  width:160px;
  height: 180px;
  background-color: #fff;
  margin:-100px 0 0 -80px;
  text-align: center;
  font-size: 13px;
  color: rgb(139, 139, 139);
  z-index: 10001;
  border-radius: 5px;

  > canvas{
    margin-top:15px;
  }

  > div{
    margin-top:5px;
  }
}

.tips-weixin-share{
  position: fixed;
  width:100%;
  height: 100%;
  top:0px;
  left:0px;
  background-color: rgba(0, 0, 0, .8);
  z-index: 999;
  color:#fff;
  text-align: center;

  border-top: 10px solid #1c1c20;

  div{
    position: fixed;
    top:0px;
    width:100%;
    height: 200px;
    padding-top:40px;
    background-image: url('./images/arrow@3x.png');
    background-repeat: no-repeat;
    background-position: right 13px top 0;
    background-size: 50px;
  }
}
