.head{
  padding-left:60px;
  min-height: 50px;
  .active{
    position: absolute;
    width:50px;
    height:50px;
    margin-left:-60px;
    border-radius: 50%;
  }
}

.info{

  span{

    color:#999;
    font-size: 13px;

    &:after{
      margin:0 5px 0 5px;
      content: '\B7';
    }

    &:last-child:after{
      display: none;
    }

  }

}

.content{
  padding-top:15px;
}

.editor{
  margin-top: 10px;
}


.actions{
  text-align:right;
  > a, > div{
    margin-left: 20px;
  }
}