.tips-weixin-share{
  position: fixed;
  width:100%;
  height: 100%;
  top:0px;
  left:0px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 999;
  color:#fff;
  text-align: center;

  // border-top: 10px solid #1c1c20;

  div{
    position: fixed;
    top:0px;
    width:100%;
    height: 200px;
    padding-top:40px;
    background-image: url('./images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 13px top 0;
    background-size: 50px;
  }
  
}