

/*************** 内容样式 ***************/

.DraftEditor-root * { -webkit-user-select: text; }
.DraftEditor-root h2{ font-size: 18px; margin:0px; padding:0px; }
.DraftEditor-root figure{ margin:0; }
.DraftEditor-root figure[contenteditable="false"]{ pointer-events:none; }
.DraftEditor-root img{
  max-width: 100%;
  max-height: 600px;
  background-image: url('../list-loading/images/loading.gif');
  min-height: 30px;
  min-width: 30px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
}
.DraftEditor-root ul,
.DraftEditor-root ol{ margin:0px; }
.DraftEditor-root embed,
.DraftEditor-root iframe{ width:100%; border:none; }
.DraftEditor-root div,
.DraftEditor-root span{ padding:0px; margin:0px; }

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #c2c2c2;
  color: #666;
  padding: 10px 20px;
  background-color: #f5f4f4;
  margin:5px 0 5px 0;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: #222;
  margin:5px 0 5px 0;
  padding:10px 15px 10px 15px;
  border-radius: 4px;
  color:#a8ff60;
  max-height: 400px;
  max-width: 100%;
  overflow: auto;
  white-space: nowrap;
  caret-color:#fff;
  font-size: 14px;
}
  .public-DraftStyleDefault-pre pre{
    color:#a8ff60;
    margin:5px 0 5px 0;
    padding:0px;
  }

.DraftEditor-root embed, .DraftEditor-root iframe{
  min-height: 260px;
}
@media only screen and (max-width: 768px) {
  .DraftEditor-root embed, .DraftEditor-root iframe{
    min-height: 216px;
  }
}

.DraftEditor-root iframe[src^="//music.163.com"] { min-height: auto; }

/*************** 内容样式 end ***************/



.DraftEditor-root{
  background-color: #fff;
}

.RichEditor-root {
  /* background: #fff; */
  /* border: 1px solid #e5e5e5; */
  /* font-family: 'Georgia', serif; */
  /* font-size: 14px; */
}

.RichEditor-editor {
  cursor: text;
  font-size: 14px;
  /* overflow: scroll; */
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 180%;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 300px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}


.RichEditor-controls {
  user-select: none;
  line-height: 100%;
  padding:0 5px 0 5px;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  display: inline-block;

  padding:5px;
  /* margin:5px 0 5px 10px; */
  border-radius: 3px;
}

.RichEditor-styleButton:hover{
  color: #999;
  background-color: #efefef;
}

.RichEditor-activeButton {
  background-color: #d2e6ff !important;
  color:#fff !important;
}

.RichEditor-controls .title,
.RichEditor-controls .blockquote,
.RichEditor-controls .ul,
.RichEditor-controls .ol,
.RichEditor-controls .code-block,
.RichEditor-controls .bold,
.RichEditor-controls .italic,
.RichEditor-controls .underline,
.RichEditor-controls .image,
.RichEditor-controls .link,
.RichEditor-controls .video,
.RichEditor-controls .music,
.RichEditor-controls .more{
  width:25px;
  height: 25px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  padding:0px;
  margin:5px;
}

.RichEditor-controls .title{
  background-image: url(./images/editor-icon_03.png);
}

.RichEditor-controls .blockquote{
  background-image: url(./images/editor-icon_06.png);
}

.RichEditor-controls .code-block{
  background-image: url(./images/editor-icon_07.png);
}

.RichEditor-controls .bold{
  background-image: url(./images/editor-icon_04.png);
}

.RichEditor-controls .italic{
  background-image: url(./images/editor-icon_05.png);
}

.RichEditor-controls .underline{
  background-image: url(./images/editor-icon_08.png);
}

.RichEditor-controls .ol{
  background-image: url(./images/editor-icon_13.png);
}

.RichEditor-controls .ul{
  background-image: url(./images/editor-icon_12.png);
}

.RichEditor-controls .image{
  background-image: url(./images/editor-icon_10.png);
}

.RichEditor-controls .image .dropzone{
  width: 25px !important;
  height: 25px !important;
  margin:-5px 0 0 -5px;
  /*background-color: #333;*/
}

.RichEditor-controls .video{
  background-image: url(./images/editor-icon_09.png);
}


.RichEditor-controls .link{
  background-image: url(./images/editor-icon_11.png);
}

.RichEditor-controls .music{
  background-image: url(./images/music.png);
}

.RichEditor-controls .more{
  background-image: url(./images/more.png);
}
