

/* 内容样式 */


.DraftEditor-root{
  padding:15px 15px 15px 15px;
}

.DraftEditor-root * {
  -webkit-user-select: text;
}


.DraftEditor-root figure{
  margin:0;
}

.DraftEditor-root img{
  max-width: 100%;
}
.DraftEditor-root embed,
.DraftEditor-root iframe{
  width:100%;
  border:none;
}

.DraftEditor-root embed, .DraftEditor-root iframe{
  min-height: 260px;
}



@media only screen and (max-width: 768px) {
  .DraftEditor-root embed, .DraftEditor-root iframe{
    min-height: 216px;
  }
}


.DraftEditor-root iframe[src^="//music.163.com"] {
  min-height: auto;
}


/* 内容样式 end */

.DraftEditor-root{
  background-color: #fff;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  /*border-top: 1px solid #ddd;*/
  cursor: text;
  font-size: 15px;
  /*margin-top: 10px;*/
  overflow: scroll;

}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  /*margin: 0 -15px -15px;*/
  /*padding: 15px;*/
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 300px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  /* margin: 16px 0; */
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  user-select: none;
  background-color: #fff;
  border-bottom:1px solid #efefef;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  display: inline-block;

  padding:5px;
  margin:5px 0 5px 10px;
  border-radius: 3px;
}

.RichEditor-styleButton:hover{
  color: #999;
  background-color: #efefef;
}

.RichEditor-activeButton {
  background-color: #e3efff !important;
  color:#fff !important;
}


.RichEditor-controls .title,
.RichEditor-controls .blockquote,
.RichEditor-controls .ul,
.RichEditor-controls .ol,
.RichEditor-controls .code-block,
.RichEditor-controls .bold,
.RichEditor-controls .italic,
.RichEditor-controls .underline,
.RichEditor-controls .image,
.RichEditor-controls .link,
.RichEditor-controls .video,
.RichEditor-controls .music{
  width:25px;
  height: 25px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.RichEditor-controls .title{
  background-image: url(./images/editor-icon_03.png);
}

.RichEditor-controls .blockquote{
  background-image: url(./images/editor-icon_06.png);
}

.RichEditor-controls .code-block{
  background-image: url(./images/editor-icon_07.png);
}

.RichEditor-controls .bold{
  background-image: url(./images/editor-icon_04.png);
}

.RichEditor-controls .italic{
  background-image: url(./images/editor-icon_05.png);
}

.RichEditor-controls .underline{
  background-image: url(./images/editor-icon_08.png);
}

.RichEditor-controls .ol{
  background-image: url(./images/editor-icon_13.png);
}

.RichEditor-controls .ul{
  background-image: url(./images/editor-icon_12.png);
}

.RichEditor-controls .image{
  background-image: url(./images/editor-icon_10.png);
}

.RichEditor-controls .image .dropzone{
  width: 25px !important;
  height: 25px !important;
  margin:-5px 0 0 -5px;
  /*background-color: #333;*/
}


.RichEditor-controls .video{
  background-image: url(./images/editor-icon_09.png);
}


.RichEditor-controls .link{
  background-image: url(./images/editor-icon_11.png);
}

.RichEditor-controls .music{
  background-image: url(./images/music.png);
}
