

.media-tools{
  background-color: #fff;
  border-bottom:1px solid #efefef;
  > span{
    display: inline-block;
    padding:5px;
    margin:0px 0 0px 10px;
  }
}


:global{

  .RichEditor-editor{

    .DraftEditor-root{
      padding:10px;
    }

    .public-DraftEditor-content{
      min-height:300px;
    }

  }

}
