

/*************** 内容样式 ***************/

.DraftEditor-root * { -webkit-user-select: text; }
.DraftEditor-root figure{ margin:0; }
.DraftEditor-root figure[contenteditable="false"]{ pointer-events:none; }
.DraftEditor-root img{
  max-width: 100%;
  max-height: 600px;
  background-image: url('../ui/loading/images/loading.gif');
  min-height: 30px;
  min-width: 30px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #efefef; */
}

.RichEditor-editor{
  color:#222;
}

.RichEditor-editor .RichEditor-blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  margin:0px;
}

/*
.public-DraftEditor-content > div > div,
.public-DraftEditor-content > div > ul,
.public-DraftEditor-content > div > h2
{
  margin-bottom:16px !important;
}
*/

.public-DraftStyleDefault-ul{
  margin:0px;
}

.public-DraftEditor-content > div > pre{

  padding: 16px;
  overflow: auto;
  font-size: 14px;
  line-height: 110%;
  background-color: #f6f8fa;
  border-radius: 3px;
  margin-bottom:15px;
  margin-top:15px;

}

.public-DraftEditor-content > div > pre > pre{
  margin-bottom:0px;
}

.public-DraftEditor-content > div > h2{
  padding-bottom: 15px;
  font-size:20px;
  border-bottom: 1px solid #eaecef;
  font-weight: bold;
  /* margin:0px 0 15px 0; */
}

/*************** 内容样式 end ***************/




/* .RichEditor-root { */
  /* background: #fff; */
  /* border: 1px solid #e5e5e5; */
  /* font-family: 'Georgia', serif; */
  /* font-size: 14px; */
/* } */

.RichEditor-editor {
  cursor: text;
  font-size: 14px;
  /* overflow: scroll; */
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 180%;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 300px;
  max-height: 360px;
  overflow: scroll;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-controls {
  user-select: none;
  line-height: 100%;
  padding:0 5px 0 5px;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  display: inline-block;

  padding:5px;
  /* margin:5px 0 5px 10px; */
  border-radius: 3px;
}

.RichEditor-styleButton:hover{
  color: #999;
  background-color: #d2e6ff;
}

.RichEditor-activeButton {
  background-color: #d2e6ff;
  color:#fff !important;
}

.RichEditor-controls .title,
.RichEditor-controls .blockquote,
.RichEditor-controls .ul,
.RichEditor-controls .ol,
.RichEditor-controls .code-block,
.RichEditor-controls .bold,
.RichEditor-controls .italic,
.RichEditor-controls .underline,
.RichEditor-controls .image,
.RichEditor-controls .link,
.RichEditor-controls .video,
.RichEditor-controls .music,
.RichEditor-controls .more,
.RichEditor-controls .link-image{
  width:25px;
  height: 25px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  padding:0px;
  margin:5px;
}

.RichEditor-controls .title{
  background-image: url(./images/editor-icon_03.png);
}

.RichEditor-controls .blockquote{
  background-image: url(./images/editor-icon_06.png);
}

.RichEditor-controls .code-block{
  background-image: url(./images/editor-icon_07.png);
}

.RichEditor-controls .bold{
  background-image: url(./images/editor-icon_04.png);
}

.RichEditor-controls .italic{
  background-image: url(./images/editor-icon_05.png);
}

.RichEditor-controls .underline{
  background-image: url(./images/editor-icon_08.png);
}

.RichEditor-controls .ol{
  background-image: url(./images/editor-icon_13.png);
}

.RichEditor-controls .ul{
  background-image: url(./images/editor-icon_12.png);
}

.RichEditor-controls .image{
  background-image: url(./images/editor-icon_10.png);
}

.RichEditor-controls .image .dropzone{
  width: 25px !important;
  height: 25px !important;
  margin:-5px 0 0 -5px;
  /*background-color: #333;*/
}

.RichEditor-controls .video{
  background-image: url(./images/editor-icon_09.png);
}


.RichEditor-controls .link{
  background-image: url(./images/editor-icon_11.png);
}

.RichEditor-controls .music{
  background-image: url(./images/music.png);
}

.RichEditor-controls .more{
  background-image: url(./images/more.png);
}

.RichEditor-controls .link-image{
  background-image: url(./images/editor-icon_15.png);
}


#dark-theme .RichEditor-editor h2{
  border-bottom: 1px solid #393f4e;
}

#dark-theme .RichEditor-editor blockquote{
  padding: 0 15px 0 15px;
  color: #606983;
  border-left: 4px solid #717f92;
}

#dark-theme .RichEditor-editor .public-DraftStyleDefault-pre{
  background-color: #23272e;
}

#dark-theme .RichEditor-editor pre{
  color:#fff;
}

#dark-theme .RichEditor-editor .RichEditor-activeButton{
  background-color: #606983;
}

#dark-theme .RichEditor-editor .RichEditor-styleButton:hover{
  background-color: #606983;
}

/* .public-DraftEditor-content > div > *{
  margin-bottom:16px;
} */