body{
  background-color: #eceef0;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 14px;
  line-height: 1.43;
}
a{
  text-decoration: none;
}

.container{
  margin-top:100px;
}

.app-icon img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 22px;
  margin-top:15px;
  margin-bottom: 15px;
}
.discription{
  font-size: 18px;
  margin-bottom: 70px;
}
.button{
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e4e9f0;
  padding: 10px 0px;
  width: 150px;
  text-align: center;
  border-radius: 30px;
  margin-right: 5px;
  margin-left: 5px;
  color: #5c5f66;
  margin: 0 5px 10px 5px;
}
.button-menu {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 15px;
  padding-bottom: 11px;
  border-radius: 12px;
  border: 1px solid #e4e9f0;
  margin: 35px 0 0 0px;
}

.button:hover{
  border:1px solid #c3c8cd;
}
.button:hover .button-menu{
  display: block;
}