@import "../../containers/global/base.scss";

.box{
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  border-bottom: 1px solid #efefef;
}

.item{
  position: relative;
  background-color: #fff;
  padding:15px 20px 15px 20px;

  @include boxSizing();
  &:hover{
    background-color: rgba(255,255,255,.7);
    @include cursorHand;
  }
}

.head{
  font-size: 12px;
  z-index: 999;
  margin-bottom: 10px;
  padding-left:50px;

  .avatar{

    position: absolute;
    top: 15px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #efefef;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 40px;
      height: 40px;
    }

    /*
    position: absolute;
    top: 15px;
    left: 15px;
    width: 45px;
    height: 45px;
    background-color: #efefef;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 45px;
      height: 45px;
    }
    */
  }

  .right{
    float:right;
  }

  .info{

    width:100%;
    line-height: 20px;

    a{
      color:#ABA8A6;
    }

    b{
      font-size: 13px;
      font-weight: 500;
      color:#222;
    }

    a:hover{
      text-decoration: underline;
    }

    div > span{

      color:#ABA8A6;

      &:after{
        color:#ABA8A6;
        font-size: 9px;
        margin:0 5px 0 5px;
        content: '•';
      }

      &:last-child:after{
        content: '';
      }

    }

  }

}

.title{
  // padding:3px 0 3px 0;
  font-size: 15px;
  word-break:break-all;
  word-wrap:break-word;
  // font-style: italic;
  font-weight: bold;

  // font-weight: 400;

  // font-family: PingFang-SC-Medium, "Helvetica", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;

  a{
    color:#333 !important;
  }

  a:hover{
    text-decoration: none;
  }

}

.content{
  font-size: 14px;
  word-break:break-all;
  word-wrap:break-word;
  line-height: 22px;
  margin-top: 2px;

  .abstract-image{

    > div{

      display: inline-block;
      height: 100px;
      width: 180px;
      margin-right:5px;

      > div{
        display: inline-block;
        float: left;
        height: 100px;
        width: 180px;
        background-color: #efefef;
        background-size: cover;
        margin:0 10px 0 0;
        background-position: center;
        border-radius: 3px;
        margin:5px 5px 0 0;
      }

    }

  }

  .images{
    > div{
      display: inline-block;
      margin-right:10px;
      margin-top:10px;
    }
    img{
      max-height:150px;
      // box-shadow: 0px 0px 1px rgba(0,0,0,.3);
    }
  }
}

.comment-list{
  width: 100%;
  // padding-left:50px;
  // background-color: #fff;
}

/*
.comment-main{
  background-color: #fff;
  // font-size: 13px;
  // padding-top:25px;
  // margin-top:25px;
  // margin-bottom:10px;
  border-radius:3px;
  > div > div > div > div{

    // display: inline-block;
    // padding-left:120px;
    // border:none;
  }

  .comment-list > div{
    // display: inline-block;
    // background-color: #333;
    font-size: 11px;
    > div > div{
      padding:15px 25px 15px 65px;
      margin:0px;
      // padding:10px 40px 10px 0px;
      // margin-left: 70px;
    }
  }

}
*/

.view-more-comment{
  display: block;
  padding:10px 0 10px 20px;
  font-size: 13px;
  border-top:1px solid $light-gray;
  background-color: #fff;

  @include boxSizing();
  &:hover{
    background-color: rgba(255,255,255,.7);
  }
}
