

.subnav{
  position: fixed;
  top:0;
  width:100%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-bottom:1px solid rgba(0,0,0,.08);
  // border-top:1px solid rgba(0,0,0,.08);
  // margin-top: -1px;
  // box-shadow: 0 1px 3px rgba(0,0,0,.15);
  z-index: 99;

  > div {

    > div {
      display: inline-block;
    }

    div:nth-child(1) {
      float:left;
      width:20%;
      padding-left:15px;
      -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      a{
        display: block;
        width:100%;
        white-space:nowrap;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        overflow: hidden;
      }
    }

    div:nth-child(2) {
      float:left;
      width:60%;
      text-align: center;
      -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    div:nth-child(3) {
      float:left;
      width:20%;
      text-align: right;
      padding-right:15px;
      -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      a{
        display: block;
        width:100%;
        white-space:nowrap;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        overflow: hidden;
      }
    }

  }

}

.placeholder{
  height: 50px;
  width: 100%;
}
