
@import './reset';

:global{

.toastify{ z-index: 9999 !important; }

//======================================================
// https://getbootstrap.com/docs/4.3/components/dropdowns/
.dropdown-menu{
  font-size: 15px;
  border:none;
  border:1px solid rgba(0,0,0,.03);
  box-shadow: 0 0px 30px rgba(0,0,0,.15);
}

//======================================================
// https://getbootstrap.com/docs/4.0/components/card/

.card{
  border: none;
  border-radius: 0;
  background-color: #fff;
  
  .card-header{
    padding:20px 20px 20px 20px;
    border-bottom:0px;
    // background-color: none;
    .card-title{
      font-size: 18px;
      font-weight: bold;
    }
  }

  .card-body{
    padding:20px 20px 20px 20px;
    // background-color: none;
  }

  .card-footer{
    border:none;
  }

}

}

@import './light/index', './dark/index', './global-response';