
:global{

body{
  // font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  // font-family: SlateForOnePlusLight,Helvetica Neue,Helvetica,Arial,sans-serif;
  // font-family: PingFang SC,SlateForOnePlusLight,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 14px;
  line-height: 1.43;
}

ul{
  padding:0px;
  margin:0px;
}

a:focus{
  outline: none;
}

.toastify{ z-index: 9999 !important; }

.container{
  max-width: 950px;
  @media (min-width: 0px) and (max-width: 767px) {
    padding-left:10px;
    padding-right:10px;
  }
}

.navbar{
  height: 50px;
}

.navbar-brand{
  margin-right:20px;
}

.dropdown-menu{
  font-size: 14px;
  border:1px solid rgba(0,0,0,.07);
  box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

.rounded{
  border-radius: 10px !important;
}
.rounded-top{
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.rounded-right{
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.rounded-bottom{
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.rounded-left{
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}


// .btn{
//   border-radius: 20px;
// }

}