
/**
 * 覆盖默认的 bootstrap 的样式
 */

$color_primary: #0073ff;
$color_dark: #242424;//#29292a;
$color_muted: #eff1f4;
$color_secondary: #909298;


:global{

// #light-theme{
  
  body {
    background-color:#eceef0;//#e9eaee;//#eceef0;
    color: $color_dark;
    // background-image: url(http://dlanham.com/art/streaming/preview.jpg);
    background-size: cover;
    background-repeat:no-repeat; 
    background-attachment:fixed;
  }

  //======================================================
  // 链接默认颜色
  a{
    color: $color_dark;
    &:hover{
      color: $color_dark;
    }
  }

  .active{  color: $color_primary !important; }

  // 正文
  .html-content,
  // 编辑器
  .RichEditor-editor{
    a{ color: $color_primary !important; }
  }

  //======================================================
  // https://getbootstrap.com/docs/4.0/content/typography/#inline-text-elements
  small{ font-size: 12px; }

  //======================================================
  // 文本颜色
  // https://getbootstrap.com/docs/4.0/utilities/colors/

  .text-primary{ color: $color_primary !important; }
  .text-secondary{ color: $color_secondary !important; }
  // .text-success{}
  // .text-danger{}
  // .text-warning{}
  // .text-info{}
  // .text-light{}
  .text-dark{ color: $color_dark !important; }
  .text-muted{ color: $color_muted !important; }
  // .text-white{}

  //======================================================
  // https://getbootstrap.com/docs/4.0/components/card/

  .card{
    border: none;
    border-radius: none;
    margin-bottom: 10px;
    border-radius: 8px;
    // overflow: hidden;
    // border:1px solid #e6e6e6;
    // box-shadow: 0 1px 2px rgba(0,0,0,.25);
    
    .card-header{
      padding:8px 15px 8px 15px;
      border-bottom: 1px solid $color_muted;
      background-color: #fff;//#f6f8f9;
      font-size: 15px;
      // font-weight: bold;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      // color:#484848;
    }

    .card-body{
      padding:15px;
    }

  }

  //======================================================
  // https://getbootstrap.com/docs/4.0/components/list-group/
  .list-group-item{
    padding:12px 15px 12px 15px;
    border:none;
    // border: 1px solid #fff;
    border-top: 1px solid $color_muted;

    border-radius: 0px;
    // background-color: rgba(0,0,0,0);
    background-color:transparent;

    // &:hover{ border-bottom: 1px solid $color_muted; }
    &:first-child{ border-top:none; }
    // &:last-child{ border-bottom:none; }
  }

  //======================================================
  // https://getbootstrap.com/docs/4.0/utilities/borders/#border-radius

  .border{ border: 1px solid $color_muted; }
  .border-top{ border-top: 1px solid $color_muted; }
  .border-right{ border-right: 1px solid $color_muted; }
  .border-bottom{ border-bottom: 1px solid $color_muted; }
  .border-left{ border-left: 1px solid $color_muted; }

  @media (min-width: 0px) and (max-width: 767px) {
    .border{ border: 0.5px solid #ddd; }
    .border-top{ border-top: 0.5px solid #ddd; }
    .border-right{ border-right: 0.5px solid #ddd; }
    .border-bottom{ border-bottom: 0.5px solid #ddd; }
    .border-left{ border-left: 0.5px solid #ddd; }
  }

  //======================================================
  // https://getbootstrap.com/docs/4.0/components/buttons/
  .btn-primary{
    background-color: $color_primary;
    color:#fff;
    border:1px solid $color_primary;
    &:hover{
      background-color: #1b93ff;
      color:#fff;
    }
  }

  //======================================================
  // https://getbootstrap.com/docs/4.0/components/navbar/
  .navbar{
    position: fixed;
    top:0px;
    z-index: 99;
    width: 100%;
    padding:0 10px 0 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #e9eaee;//#e5e8eb;
    // box-shadow: 0 0px 2px rgba(0,0,0,.2);


    // -webkit-backdrop-filter: blur(18px);
    // background-color: rgba(255,255,255,.7);

  }

  .navbar-brand{
    min-height: 45px;
    padding:0px;
    // margin-right:0px;
    // position: absolute;
    // margin-left:-150px;
  }

  //======================================================
  // https://getbootstrap.com/docs/4.0/components/modal/
  .modal-content{
    border:none;
    border-radius: 12px;
  }
  .modal-body{
    padding:0px;
  }

  //======================================================
  // https://getbootstrap.com/docs/4.2/components/navs/
  .nav-tabs{
    background-color: #fff;
    padding:0 10px 0 10px;
    border:none;

    .nav-link{
      padding-top:15px;
      padding-bottom:13px;
      border: none;
      border-bottom:2px solid #fff;
    
      &:hover{
        border: none;
        color: #4170ea;
      }
    }

    .active{
      border: none;
      border-bottom:2px solid #4170ea !important;
      color:#4170ea;
    }

  }

  .navbar-nav{
    height: 50px;


    .nav-link{
      // margin:0 0 0 0px;
      padding:0 15px 0 15px;
      height: 50px;
      line-height: 50px;
      // border-bottom:3px solid #efefef;
      color:#484848;
      // transition: all .5s ease-in-out;
      font-size: 15px;
      &:hover{
        // background-color: #f6f8f9;
        // border-bottom:2px solid #222;
        // color:#111;
        color: $color_primary;
        // border-bottom:2px solid #999;
        // color:#111;
        // border-bottom:3px solid $color_primary;
      }
    }
    .active{
      // font-size: 16px;
      // font-weight: bold;
      // color:#111;
      color: $color_primary !important;
      // text-decoration: none;

      // text-decoration: underline;
      // text-decoration-color: $color_primary;

      // &:before{
      //   content: "";
      //   position: absolute;
      //   top:10px;
      //   width: 36px;
      //   height: 30px;
      //   margin-left:-3px;
      //   background: $color_primary;
      //   z-index: -1;
      // }

      // border-bottom:2px solid $color_primary;
      // border-radius: 2px;
    }
  }
  
}
// }