// html{
//   background-color: #efefef;
// }
body{
  font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  // font: 14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
  // font-family:  'pingfang sc',stheiti,'microsoft yahei',arial,sans-serif;
  // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  // font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  // font-family: SlateForOnePlusLight,Helvetica Neue,Helvetica,Arial,sans-serif;
  // font-family: PingFang SC,SlateForOnePlusLight,Helvetica Neue,Helvetica,Arial,sans-serif;
  // font-family: 'Helvetica Neue', "PingFang SC", 'STHeiti', '微软雅黑', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  // line-height: 1.43;
  font-size: 14px;
  // text-rendering: optimizeLegibility;


  // font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -moz-font-feature-settings: 'liga', 'kern';
}

ul{
  padding:0px;
  margin:0px;
}

a:focus{
  outline: none;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {   
  box-shadow:none;
  outline: 0 none;
}