.list{
  > div{
    background-color: #fff;
    padding:10px;
    margin-bottom:10px;

    > div > a{
      margin:0 5px 0 5px;
    }

    .avatar{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin:0 5px 0 -5px;
    }
  }
  :global .new{
    background:rgb(100, 228, 178);
  }
}
