.nothing{
  color:rgb(177, 177, 177);
  background-color: #fff;
  text-align: center;
  padding:10px 0 10px 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.table{
  width: 100%;
  border-collapse:collapse;
  td{
    padding:10px;
    border:1px solid #ccc;
  }
}
