
.box{
  margin-top:60px;
  margin-bottom:0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.menu{
  position: relative;
  left:100%;
  margin: 10px 0 0 -35px;
  width: 30px;
  height: 30px;

}

.avatar{
  // position: absolute;
  // margin-left:-120px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #dbdbdb;
  margin-top:-100px;
}

.male{
  position: absolute;
  width: 20px;
  height: 20px;
  // display: inline-block;
  background-image: url(./images/male.png);
  background-size: cover;
  margin:5px 0 0 5px;
}
.female{
  @extend .male;
  background-image: url(./images/female.png);
}

.brief{
  font-size: 16px;
  // margin-top:5px;
  // margin-bottom:15px;
}

.nickname{
  font-size: 22px;
  font-weight: bold;
  margin-top:10px;
}

.other-info{
  > span{
    font-size: 12px;
    margin: 0 10px 0 10px;
  }
}


@import './response';