
.button{
  // background-image: url('./images/like.png');
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: left center;
  // padding-left: 17px;
  
  &:hover{
    // background-image: url('./images/like-active.png');
    span{
      color:#4170ea;
    }
  }
}

.active{
  // background-image: url('./images/like-active.png');
  span{
    color:#4170ea;
  }
}


.loading{
  position: absolute;
  margin-top:-16px;
  margin-left:-16px;
}

.icon-button{
  border: 1px solid #efefef;
  width: 77px;
  height: 45px;
  padding:0 15px 0 40px;
  line-height: 45px;
  display: inline-block;
  border-radius: 25px;
  background-color: #efefef;
  font-size:16px;
  > svg{
    position: absolute;
    margin-left:-25px;
    margin-top:12px;
  }
}