.item{
  
  background-color: #fff;
  border-bottom:1px solid #eaedf0;

  &:hover{
    background-color: rgba(255,255,255,.85);
  }

  // a{
    text-decoration: none !important;
  // }

  .main{
    padding-left:70px;
  }

  .avatar{
    float:left;
    margin-left:-70px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  
  .unread{
    position: absolute;
    margin-left:-30px;
    background-color: red;
    color:#fff;
    padding:0 5px 0 5px;
    border-radius: 12px;
    font-size: 12px;
  }

  .nickname{
    font-size: 17px;
    color:#484848;
  }

  .content{
    margin-top:2px;
    font-size: 14px;
    color:#999;
  }

  .create-at{
    font-size: 13px;
    color:#999;
    white-space:nowrap;
  }

}