:global {
  #dark-theme{

  @media (min-width: 0px) and (max-width: 575px) {
  
    .card{
      background-color: #111 !important;

      .card-header{
        padding-top:5px !important;
        padding-bottom:5px !important;
        border-bottom: 0.5px solid #312f37;
      }
  
      .card-footer{
        border-top: 0.5px solid #312f37;
      }
    }


    .border{ border: 0.5px solid #312f37 !important; }
    .border-top{ border-top: 0.5px solid #312f37 !important; }
    .border-right{ border-right: 0.5px solid #312f37 !important; }
    .border-bottom{ border-bottom: 0.5px solid #312f37 !important; }
    .border-left{ border-left: 0.5px solid #312f37 !important; }

  }
  
  @media (min-width: 576px) and (max-width: 767px) {
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
  }
  
  @media (min-width: 992px) and (max-width: 1199px)  {
  }
  
  @media (min-width: 1200px) {
  }

  }

}