

.box{
  // background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.content{

  :global {
    .RichEditor-editor .public-DraftEditor-content {
      min-height: 140px;
    }
  }

}

.footer{
  padding:0 20px 15px 20px;
  text-align: right;
}
