<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <!-- 自定义 head -->
  
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="icon" href="//img.xiaoduyu.com/xiaoduyu-icon-100.png?v=1" type="image/png" />
    <link rel="apple-touch-icon" href="https://img.xiaoduyu.com/xiaoduyu-icon-512.png">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta data-react-helmet="true" name="apple-itunes-app" content="app-id=1261181004">
  

  <!-- 自定义 meta -->
  <%- meta %>

  <!-- 打包 css -->
  
    <link href="//qncdn.xiaoduyu.com/app.de17d4c24084cb9449fe.css" rel="stylesheet"></head>
  

</head>
<body class="default-theme">

  <!-- app 视图 -->
  <div id="app"><%- html %></div>

  <!-- redux -->
  <script>
    window.__initState__ = <%- reduxState %>
  </script>

  <!-- 打包 js -->
  
    <script type="text/javascript" src="//qncdn.xiaoduyu.com/vendors2.de17d4c24084cb9449fe.js"></script>
  
    <script type="text/javascript" src="//qncdn.xiaoduyu.com/vendors.de17d4c24084cb9449fe.js"></script>
  
    <script type="text/javascript" src="//qncdn.xiaoduyu.com/app.de17d4c24084cb9449fe.js"></script>
  

  <!-- 统计代码 -->
  <div style="display:none">
    <script src="https://cdn.ravenjs.com/3.20.1/raven.min.js" crossorigin="anonymous"></script>
    <script>Raven.config('https://6264dd0a4642410b9fc2d65fcc5a3b2c@sentry.io/255376').install()</script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b9270680f034fd05907645dcfaaf1f5e";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </div>

</body>
</html>
