
/*
.hover{
  span:nth-child(1){
    display: inherit;
  }
  span:nth-child(2){
    display: none;
  }

  &:hover{
    span:nth-child(1){
      display: none;
    }
    span:nth-child(2){
      display: inherit;
    }
  }
}
*/


.button{
  // background-image: url('./images/like.png');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  // padding-left: 20px;
}
