// dark mode
:global(#dark-theme){

  .header{
    background-image: none;
    background-color: rgba(25,25,27,0.9);
    border-bottom:1px solid rgba(0,0,0,.5);
  }

  .svg-icon{
    &:hover{
      background-color: #303030;
    }
  }

}
