@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px)  {
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo{
    width:80px;
    margin-right: 13px;
  }
  .nav-item{
    margin:0 7px 0 7px;
  }

  .svg-icon{
    margin-left:0px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 0px) and (max-width: 575px) {

  .header-space{
    height:50px;
  }

  .header{
    border-bottom:0.5px solid #c8c8da;
    > div > div{
      padding-left:10px;
      padding-right:10px;
    }
  }

  .logo{
    width:75px;
    margin-right: 10px;
  }

  .avatar{
    margin-top:13px;
    margin-left:5px;
  }

  .nav-item{
    // font-size: 13px;
    margin: 0 0 0 10px;
  }

  .arrow{
    > svg {
      width: 14px;
      height: 14px;
    }
  }

}

@media (min-width: 0px) and (max-width: 340px) {
  
  .svg-icon{
    margin-left:0px;
    > svg {
      margin:0 3px 0 3px;
    }
  }
  .avatar{
    margin-left:5px;
  }

  .nav-item{
    font-size: 13px;
  }

  
}