

.layer{
  // padding:30px;
  // width: 320px;
  padding: 15px 0 0 0;
  
  input[type="text"],
  input[type="password"],
  input[type="submit"]{
    width:100%;
    margin-bottom:10px;
  }

  fieldset{
    text-align: center;
    border-top: 1px solid #e3e3e3;
    margin-bottom: 10px;
    legend{
      font-size: 12px;
      padding:0 5px 0 5px;
      font-weight: bold;
      color: #767676;
    }
  }

}


.social{
  ul{
    padding:0px;
    margin:0px;
    list-style-type: none;
    li{
      width:100%;
      margin-bottom:10px;
      a{
        display: inline-block;
        width:100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: rgb(207, 167, 58);
        color:#fff;
        border-radius: 3px;
      }
    }
  }

  .weibo{
    background-color: #FF5D5D;
  }

  .weibo-icon{
    width: 24px;
    background-image: url(./images/weibo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
  }

  .qq-icon{ @extend .weibo-icon; }
  .github-icon{ @extend .weibo-icon; }

  .qq-icon{
    background-image: url(./images/qq.png);
  }

  .github-icon{
    background-image: url(./images/github.png);
  }

  .qq{
    background-color: #16b3f6;
  }

  .github{
    background-color: #4A4A4A;
  }
}

.signup{

}
.signin{
  text-align: center;
}

.mark{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .63);

  z-index: 100;
}
