@import "../../containers/global/base.scss";

/*
.signLayer{
  position: fixed;
  width:90%;
  max-width: 350px;
  background-color: #fff;

  z-index: 100;
  padding:15px;

  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border-radius: 3px;

  @include boxSizing();
  input[type="text"],
  input[type="password"],
  input[type="submit"]{
    width:100%;
    margin-bottom:10px;
  }

  fieldset{
    text-align: center;
    border-top: 1px solid #e3e3e3;
    margin-bottom: 10px;
    legend{
      font-size: 12px;
      padding:0 5px 0 5px;
      font-weight: bold;
      color: #767676;
    }
  }


}

.closeButton{
  float:right;
  a{
    float: left;
    width: 30px;
    height: 30px;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
*/

.layer{
  // padding:30px;
  // width: 320px;
  padding: 15px 0 0 0;

  @include boxSizing();
  input[type="text"],
  input[type="password"],
  input[type="submit"]{
    width:100%;
    margin-bottom:10px;
  }

  fieldset{
    text-align: center;
    border-top: 1px solid #e3e3e3;
    margin-bottom: 10px;
    legend{
      font-size: 12px;
      padding:0 5px 0 5px;
      font-weight: bold;
      color: #767676;
    }
  }

}


.social{
  ul{
    padding:0px;
    margin:0px;
    list-style-type: none;
    li{
      width:100%;
      margin-bottom:10px;
      a{
        display: inline-block;
        width:100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: rgb(207, 167, 58);
        color:#fff;
        border-radius: 3px;
      }
    }
  }

  .weibo{
    background-color: #FF5D5D;
  }

  .weibo-icon, .qq-icon, .github-icon{
    width: 24px;
    background-image: url(./images/weibo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
  }

  .qq-icon{
    background-image: url(./images/qq.png);
  }

  .github-icon{
    background-image: url(./images/github.png);
  }

  .qq{
    background-color: #16b3f6;
  }

  .github{
    background-color: #4A4A4A;
  }
}

.signup{

}
.signin{
  text-align: center;
}

.mark{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .63);

  z-index: 100;
}

/*
.signLayer{

  .captcha{
    width:60% !important;
  }

  .get-captcha-button{
    width:40% !important;
    float:right;
  }

}
*/
