.top{
  position: fixed;
  left:100%;
  top:100%;
  margin: -60px 0 0 -60px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  background-color: #fff;
  &:hover{
    background-color: #f4f4f4;
  }
}
