@media (min-width: 0px) and (max-width: 767px) {
  
  .left{ 
    margin-right: 0px;
  }

  .live-container{
    height: 240px;
    > div{
      height: 240px;
    }
  }
  
  .right{
    position: relative;
    margin:0px;
    width:100%;
    top:auto;
    left:0px;
  }

}


@media (min-width: 0px) and (max-width: 320px) {

  .live-container{
    height: 200px;
    > div{
      height: 200px;
    }
  }

}