
@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px)  {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {

  .text-nav{
    margin-left:0px !important;
  }

}

@media (min-width: 0px) and (max-width: 575px) {
  .header-space{
    height:50px;
  }

  .header{
    > div > div{
      padding-left:15px;
      padding-right:15px;
    }
  }

  .subscript{
    width: 6px;
    height: 6px;
  }

  .nav{
    .svg-icon{
      margin-left:0px;
      background-size: 18px;
      > svg {
        margin:7px;
        width: 20px;
        height: 20px;
        stroke-width: 1.3;
      }
    }
    .avatar{
      margin-top:13px;
      margin-left:5px;
    }
  }

  .text-nav{
    margin-left:0px !important;
    .nav-item{
      margin: 0 0 0 20px;
      &:first-child{
        margin-left:0px;
      }
    }
  }

}

@media (min-width: 0px) and (max-width: 320px) {
  .nav{
    .svg-icon{
      margin-left:0px;
      background-size: 18px;
      width: 28px;
      height: 28px;
      margin-top:11px;
      > svg {
        margin:4px;
        width: 20px;
        height: 20px;
        stroke-width: 1.3;
      }
    }
    .avatar{
      margin-top:13px;
      margin-left:5px;
    }
  }
  .text-nav{
    .nav-item{
      font-size: 14px;
      margin: 0 0 0 15px;
    }
  }
}