
@media (min-width: 450px) and (max-width: 767.98px) {
  .text-nav{
    margin-left:0px !important;
  }
}

@media (min-width: 350px) and (max-width: 450px) {

  .header-space{
    height:54px;
  }

  .header{
    > div > div{
      padding-left:5px;
      padding-right:5px;
    }
  }
  .nav{
    .favorite, .notification, .message, .search, .avatar{
      margin-left:5px;
    }
    .avatar{
      margin-left:10px;
    }
  }
  .text-nav{
    margin-left:0px !important;
  }
  .text-nav{
    margin-left:0px !important;
    .nav-item{
      margin:0px;
      padding: 0 10px 0 10px;
    }
  }
}

@media (min-width: 0px) and (max-width: 350px) {

  .header-space{
    height:54px;
  }

  .header{
    > div > div{
      padding-left:5px;
      padding-right:5px;
    }
  }
  .nav{
    .favorite, .notification, .message, .search, .avatar{
      margin-left:0px;
      background-size: 18px;
    }
    .avatar{
      background-size: 22px;
      width: 22px;
      height: 22px;
      margin-top:15px;
      margin-left:5px;
    }
  }
  .text-nav{
    margin-left:0px !important;
    .nav-item{
      margin:0px;
      padding: 0 5px 0 5px;
    }
  }


}