
.header-space{
  height:60px;
  width: 100%;
}


/*
.tabbar{
  :global{
    .nav-link{
      display: block;
      height: 45px;
      background-color: #efefef !important;
    }
  }
}
*/

// .search-container{

//   width:100%;
//   max-width: 250px;

.search{

  width:100%;
  max-width: 260px;

  input{
    width:100%;
    height: 30px;
    border: none;
    padding:0 0 0 30px;
    background-image: url(./images/search.png);
    background-size: 22px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    outline: none;
    font-size:14px;
    background-color: rgba(0,0,0,.04);
    // margin-left:15px;
    border-radius: 15px;
    // border:1px solid #efefef;
  
    &:hover{
      background-color: rgba(0,0,0,.05);
    }
  
  }


}


// }

.active{
  background-color: red;
}

.subscript{
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  margin:15px 0 0 0px;
}

.unread-subscript{
  position: absolute;
  height: 14px;
  line-height: 14px;
  padding:0 5px;
  margin:12px 0 0 -8px;
  border-radius: 20px;
  background-color: red;
  color:#fff;
  font-size: 11px;
}

:global(#dark-theme){
  .search{
    background-color: #333845;
    &:hover{
      background-color: #393f4e;
    }
  }
}

.user-nav{

  position: relative;

  li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    // margin-left:0px;

    > a{
      display: inline-block;
      font-size: 15px;
      color:#484848 !important;
      // height: 45px;
      // line-height: 45px;
      margin: 0 0 0 30px;

      /*
      &:after {
        position: absolute;
        left:100% - 20;
        margin-top:-12px;
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
      }
      */
      
    }
    

  }

  .avatar{
    position: absolute;
    margin-left:-30px;
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
    margin-top:-2px;
    background-color: #efefef;
  }

  .unread{
    position: absolute;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    padding:0px 5px 0px 5px;
    margin:12px 0 0 -3px;
    border-radius: 20px;
    background-color: red;
    color:#fff;
    font-size: 11px;
  }

  /*
  @media (min-width: 660px) and (max-width: 100000px) {

    .create-posts{
      height: 30px;
      line-height: 30px;
      border-radius: 4px;
      margin-top:7px;
      margin-left:10px;
      margin-right:10px;
      color:#fff;
      background-color:#4170ea;
      &:hover{
        background-color:#4e7df7;
      }
    }

  }

  @media (min-width: 0px) and (max-width: 660px) {
    > ul > li > a{
      padding-right:6px;
      padding-left:6px;
    }
  }

  @media (min-width: 0px) and (max-width: 350px) {
    > ul > li > a{
      padding-right:3px;
      padding-left:3px;
    }
  }

  .new-posts{
    color:#4170ea !important;

  }
  */

}


