

.button{
  // background-image: url('./images/button.png');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: left center;
  // padding-left: 16px;
  cursor: pointer;
  cursor: hand;
}
