@media (min-width: 0px) and (max-width: 450px) {
  .add{
    height: 40px;
    line-height: 40px;
    background-size: 35px;
    padding-left: 50px;
    font-size: 14px;
  }
  .line{
    margin-left: 60px;
  }
}
