.container{

  padding:15px 15px 10px 10px !important;

  a {
    display:inline-block;
    margin-right:10px;
    margin-bottom: 3px;
    // font-size: 14px;
  }

  .group{
    
    padding-left:45px;
    margin-bottom:10px;

    .group-title {
      position: absolute;
      left:0;
      margin-left:15px;
      font-weight: bold;
    }

    &:last-child{
      margin-bottom: 0px;
    }
 
  }

}

@media (min-width: 0px) and (max-width: 991.98px) {
  .container{

    .group{

      margin-bottom: 5px;

      > div{
        display: inline;
      }
  
      a{
        margin-top:0px;
      }
    }

  }
}
