
  .expand{
    font-size:14px;
    font-weight: normal;
    float:right;
  }



.container{

  // margin-top:2px;

  // background-color: #efefef !important;

  // padding:20px;
  // border-bottom:1px solid #e8eaed;

  a {
    display:inline-block;
    margin-right:10px;
    // margin-bottom: 3px;
    // font-size: 14px;
  }

  .group{
    
    padding-left:45px;
    margin-bottom:5px;
    font-size: 15px;

    .group-title {
      position: absolute;
      margin-left:-45px;
      // left:0;
      // margin-left:15px;
      font-weight: bold;
    }

    &:last-child{
      margin-bottom: 0px;
    }
 
  }

}

@media (min-width: 0px) and (max-width: 991.98px) {
  .container{

    .group{

      margin-bottom: 5px;

      > div{
        display: inline;
      }
  
      a{
        margin-top:0px;
      }
    }

  }
}
