
.cancel{
  float:right;
}

.people{
  padding-left:40px;
  height: 30px;
  line-height: 30px;
  img{
    position: absolute;
    margin-left:-40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #efefef;
  }
}
