<!DOCTYPE html>
<html>
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-0152050190533800",
      enable_page_level_ads: true
    });
  </script>
  <meta charset="utf-8" />
  <%= htmlWebpackPlugin.options.meta %>
  <!--
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  -->
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.cdn %>64.png" type="image/png" />
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.cdn %>512.png" />
</head>
<body>
  <!--[if lt IE 8]>
	<style type="text/css">
		body{ padding:0; margin:0; }
		.no-supper{ width:100%; min-height: 100px; text-align: center; line-height:100px; background-color:#FFBD91; color:#000; position: fixed; top:100%; margin-top:-100px; z-index: 999; }
		.no-supper a{ color:#45a7ff; }
	</style>
	<div class="no-supper">
		您的浏览器版本较低，可能存在安全风险，请升级到最新IE浏览器。亦可下载 <a href="http://se.360.cn/" target="_blank">360安全浏览器</a> 或 <a href="https://chrome.google.com/" target="_blank">Google Chrome</a>
	</div>
  <![endif]-->
  <div id="wx_pic" style="display:none;"><img src='<%= htmlWebpackPlugin.options.cdn %>300.png' alt="小度鱼" /></div>
  <div id="app"><%= htmlWebpackPlugin.options.htmlDom %></div>
  <script>window.__initState__ = <%= htmlWebpackPlugin.options.reduxState %></script>
</body>
</html>
