

.box{
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.content{

  :global {
    .RichEditor-editor .public-DraftEditor-content {
      min-height: 150px;
    }
  }

}

.footer{
  margin-top: 0px;
  height: 55px;
  padding:0 20px 15px 20px;

  button{
    float:right;
    border-radius: 3px;
  }
}
