

:global{
  .navbar-brand{
    margin-right:0px;
  }
}

.header-space{
  height:55px;
  width: 100%;
}

.navbar{
  display: flex;
  position: fixed;
  z-index: 99;
  // height: 46px;
  width: 100%;
  padding:0 20px 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #eaedf0;

  :global{
    .active{
      color: #4170ea !important;
    }
  }

  @media (min-width: 0px) and (max-width: 660px) {
    padding:0;
  }

}

.logo{
  img{
    // margin:0 auto;
    // margin:-4px 5px 0 0;
    height: 45px;
    width: 130px;
  }
}



.search-form{
  // margin-right:20px;
  margin-top:8px;
  margin-bottom:6px;

}

.search{
  max-width: 300px;
  width: 100%;
  height: 30px;
  border: none;
  padding:0 35px 0 30px;
  margin-left: 15px;
  // border-bottom:1px solid #f5f5f5;
  background-image: url(./images/search.png);
  background-size: 22px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  outline: none;
  background-color: #f5f5f5;
  border-radius: 4px;

  &:hover{
    background-color: #efefef;
  }

  @media (min-width: 0px) and (max-width: 991.98px) {
    margin-left: 0px;
  }

}

.red-point{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 4px;
  margin:15px 0 0 0;
}

.navbar-left{
  width: 75%;
  // background-color: #333;
  white-space:nowrap;
  display: inline-block;
  // overflow-x:scroll;
  // -webkit-overflow-scrolling: touch;

  @media (min-width: 0px) and (max-width: 660px) {
    width: 65%;
  }


  > div{
    display: inline-block;
  }



  .topics-nav{
    ul{
      padding: 0px;
      margin: 0px;
    }
    li{
      display: inline-block;
    }
    a{
      display: inline-block;
      height: 45px;
      line-height: 45px;
      color:#717479;
      padding: 0 10px 0 10px;
    }

    .red-point{
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: red;
      border-radius: 4px;
      margin:15px 0 0 0;
    }

  }

  .search-form{
    margin-right:20px;
    margin-top:8px;
  }

  .search{
    max-width: 300px;
    width: 100%;
    height: 30px;
    border: none;
    padding:0 35px 0 25px;
    margin-left: 15px;
    border-bottom:1px solid #eaedf0;
    background-image: url(./images/search.png);
    background-size: 22px;
    background-position: left center;
    background-repeat: no-repeat;
    outline: none;
  }

}


.user-nav{

  position: relative;

  // position: fixed;
  // left:75%;
  // width:25%;
  // top:0px;
  // text-align: right;

  // @media (min-width: 0px) and (max-width: 991.98px) {
  //   left:60%;
  //   width:40%;
  // }

  ul{
    padding:0px;
    margin:0px;

  }

  li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-left:10px;
    color:#717479;

    > a{
      color:#717479;
      display: inline-block;
      height: 45px;
      line-height: 45px;
      color:#717479;
      padding: 0 10px 0 10px;
    }

  }

  .nickname{
    // margin-right:20px;
  }


  .unread{
    position: absolute;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    padding:0px 5px 0px 5px;
    margin:12px 0 0 -3px;
    border-radius: 20px;
    background-color: red;
    color:#fff;
    font-size: 11px;
  }

  .avatar-area{

    white-space:nowrap;
    cursor: hand;
    cursor: pointer;
    height: 45px;
    font-size: 14px;

    > div{
      float:left;
      line-height: 45px;
    }

    .avatar{
      width: 25px;
      height: 25px;
      background-size: cover;
      border-radius: 50%;
      margin-top:10px;
      margin-right:10px;
    }

  }

  .create-posts{
    // border:1px solid #4170ea !important;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    margin-top:7px;
    color:#fff;
    background-color:#4170ea;
    &:hover{
      background-color:#4e7df7;
    }
  }

  @media (min-width: 0px) and (max-width: 660px) {
    li{
      a{
        padding:0px;
      }
    }
  }

}
