

.header-space{
  height:57px;
  width: 100%;
}

.navbar{
  position: fixed;
  z-index: 99;
  height: 45px;
  width: 100%;
  padding:0 20px 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #eaedf0;

  :global{
    .active{
      color: #4170ea !important;
    }
  }

  @media (min-width: 0px) and (max-width: 660px) {
    padding:0 5px 0 5px;
  }

}

.navbar-left{
  width: 75%;
  white-space:nowrap;
  overflow-x:scroll;
  -webkit-overflow-scrolling: touch;
  > div{
    display: inline-block;
  }

  .logo{
    img{
      margin:-3px 5px 0 0;
      height: 45px;
      width: 130px;
    }
  }

  .topics-nav{
    ul{
      padding: 0px;
      margin: 0px;
    }
    li{
      display: inline-block;
    }
    a{
      display: inline-block;
      height: 45px;
      line-height: 45px;
      color:#717479;
      padding: 0 10px 0 10px;
    }

    .red-point{
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: red;
      border-radius: 4px;
      margin:15px 0 0 0;
    }

  }

  .search-form{
    margin-right:20px;
    margin-top:8px;
  }
  
  .search{
    max-width: 300px;
    width: 100%;
    height: 30px;
    border: none;
    padding:0 35px 0 25px;
    margin-left: 15px;
    border-bottom:1px solid #eaedf0;
    background-image: url(./images/search.png);
    background-size: 22px;
    background-position: left center;
    background-repeat: no-repeat;
    outline: none;
  }

}


.user-bar{
  width: 25%;
  text-align: right;
  padding:0px;
  margin:0px;
  color:#717479;

  li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;

    > a{
      color:#717479;
      display: inline-block;
      height: 45px;
      line-height: 45px;
      color:#717479;
      padding: 0 10px 0 10px;
    }

  }



  .unread{
    position: absolute;
    height: 16px;
    line-height: 16px;
    padding:0px 5px 0px 5px;
    margin:12px 0 0 -3px;
    border-radius: 20px;
    background-color: red;
    color:#fff;
    font-size: 11px;
  }
  
  .avatar-area{
  
    white-space:nowrap;
    cursor: hand;
    cursor: pointer;
    height: 45px;
    font-size: 14px;
  
    > div{
      float:left;
      line-height: 45px;
    }
  
    .avatar{
      width: 25px;
      height: 25px;
      background-size: cover;
      border-radius: 50%;
      margin-top:10px;
      margin-right:10px;
    }
  
  }

}