



.item{
  width:100%;
  // display: inline-block;
  // background-color: #fff;
  // background-color: #fff;
  // min-height: 50px;
  padding:0 0 0 55px;
  // border-bottom:1px solid #efefef;
  // color:#666;
  // margin-bottom: 10px;
  // border-radius: 3px;
}

.avatar{
  position: absolute;
  margin-left:-60px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #efefef;
}


.left{
  width:60%;
  display: inline-block;

  color:#a19d9d;
  font-size: 13px;
  // white-space:nowrap;
  // overflow:hidden;
  // text-overflow:ellipsis;

  a {
    display: inline-block;
    font-size: 15px;
    color:#000;
    margin-right:10px;
  }

  .brief{
    // float:left;
    display: inline-block;
    // width:60%;
    color:#555;

    // letter-spacing:.5px;
  }

}

.right{
  float:right;
  // display: inline-block;
  width:40%;
  text-align: right;
}



.footer{
  width:100%;
  a{
    margin-right:10px;
    font-size: 13px;
  }
}
