.list{
  width: 100%;
  background-color: #fff;
}

.bottom-bar{
  width: 100%;
  position: fixed;
  bottom:0px;
  left:0px;

  height:50px;

  .bottom-bar-main {
    background-color: #fff;
    height: 50px;
  }
}

.more{
  text-align: center;
  padding:10px 0 10px 0;
}
