
.loading{
  text-align: center;
  padding:15px 0 15px 0;
  font-size: 12px;

  span{
    margin-right:5px;
    margin-bottom: -3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(./images/loading.gif);
    background-size: cover;
  }

}
