.tips{
  position: fixed;
  top:70px;
  left:50%;
  background-color: rgb(0, 140, 255);
  color:#fff;
  width:120px;
  margin:0 0 0 -70px;
  text-align: center;
  padding:5px 10px 5px 10px;
  border-radius: 50px;
}
