
body{
  // font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC" !important;
  // font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color:#484848;
}

:global{

  .toastify{
    z-index: 9999 !important;
  }

}