<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <!-- 自定义 head -->
  <%= htmlWebpackPlugin.options.head %>

  <!-- 自定义 meta -->
  <%= htmlWebpackPlugin.options.metaDom %>

</head>
<body class="default-theme">

  <!-- app 视图 -->
  <div id="app"><%= htmlWebpackPlugin.options.htmlDom %></div>

  <!-- redux -->
  <script>
    window.__initState__ = <%= htmlWebpackPlugin.options.reduxState %>
  </script>

  <!-- 统计代码 -->
  <div style="display:none"><%= htmlWebpackPlugin.options.analysis_script %></div>

</body>
</html>
