<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <!-- 自定义 head -->
  <%= htmlWebpackPlugin.options.head %>

  <!-- 自定义 meta -->
  <%= htmlWebpackPlugin.options.metaDom %>

</head>
<body class="default-theme">

  <!-- app 视图 -->
  <div id="app"><%= htmlWebpackPlugin.options.htmlDom %></div>

  <!-- redux -->
  <script>
    window.__initState__ = <%= htmlWebpackPlugin.options.reduxState %>
  </script>
  
  <!--[if lt IE 10]>
	<style type="text/css">
		body{ padding:0; margin:0; }
		.no-supper{ width:100%; min-height: 100px; text-align: center; line-height:100px; background-color:#FFBD91; color:#000; position: fixed; top:100%; margin-top:-100px; z-index: 999; }
		.no-supper a{ color:#45a7ff; }
	</style>
	<div class="no-supper">
		您的浏览器版本较低，可能存在安全风险，请升级到最新IE浏览器。亦可下载 <a href="https://chrome.google.com/" target="_blank">Google Chrome</a>
	</div>
  <![endif]-->

</body>
</html>
