.box{
  padding:15px 20px 15px 90px;
  &:hover{
    background-color: #f5f7fb;
    cursor:pointer;
    cursor:hand;
  }
}

.nickname{
  font-size: 13px;
  color: #929292 !important;
}

.avatar, .avatar > img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.avatar{
  position: absolute;
  margin-left: -70px;
  margin-top:4px;
}

.title{
  font-size: 16px;
}

.comment{
  background-image: url(./images/comment.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px;
  padding-left:18px;
  margin-top:3px;
  font-size: 14px;
  margin-left:30px;
}

.posts-info{
  > small{
    &:after{
      display: inline-block;
      content: "\B7";
      margin: 0 5px;
      color:#d8d8d8;
    }
    &:last-child:after{
      content: '';
      margin:0 auto;
    }
  }
  .topic{
    color: #929292 !important;
  }
}

@import './response', './dark';