
.a{

  font-size: 13px;
  padding-left:45px;
  line-height: 160%;

  img{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #efefef;
    margin-left:-33px;
    border-radius: 50%;
  }
  
}
