

.action-bar{
  padding:10px 15px 10px 15px;
  > a, > div{
    margin-right:15px;
  }
}

.follow{
  // float:right;
  margin-left:10px;
  a{
    font-size: 12px;
    color:#4170ea !important;
    border:1px solid #4170ea;
    padding:2px 10px 2px 10px;
    border-radius: 50px;
  }
}

.active{
  a{
    font-size: 12px;
    color:#C7C7C7 !important;
    border:1px solid #C7C7C7;
    padding:2px 10px 2px 10px;
    border-radius: 50px;
  }
}

.menu{
  float:right;
}

.posts{
  // padding:15px 20px 15px 20px;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

.header{
  // padding-left:60px;
  .author-avatar{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left:-60px;
    border-radius: 50%;
  }
}

.brief{
  // display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.h1{
  font-size: 24px;
  padding:0px;
  margin:0px;
  // margin:0px;
  // margin:0 0 10px 0;
  line-height: 130%;
  font-weight: 400;
  font-weight: bold;
  
  @media (min-width: 0px) and (max-width: 767px) {
    font-size: 22px;
  }

}


// .author-avatar{
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   margin-right:12px;
// }

.head{

  padding: 15px 20px 0 70px;
  // background-color: #f5f7f9;

  .author-avatar{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right:10px;
    margin-left:-50px;
  }

}

.posts-other-info{
  > span{
    // font-size: 13px;

    &:after{
      color:#d2d5db;
      font-size: 9px;
      margin:0 8px 0 8px;
      content: '•';
    }

    &:last-child:after{
      content: '';
    }


  }
}

.title{
  padding:20px 85px 0px 20px;
  font-size: 24px;
  word-break:break-all;
  word-wrap:break-word;
  // line-height: 130%;
  font-weight: normal;
}



.detail{
  width: 100%;
  // padding-left: 80px  !important;
  // margin-top: 15px;
  // padding-top:20px;
  // border-top:1px solid #efefef;
  // margin-bottom: 10px;
}

.other{
  padding:10px 20px 10px 20px;
  // background-color: #fff;
  border-top:1px solid #efefef;
  margin-bottom:10px;
  background-color: rgba(255, 255, 255, .6);
}

.info{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  > span {
    // font-size: 12px;
    // color:#8C8C8C;
    &:after{
      margin:0 5px 0 5px;
      content: '\B7';
    }
    &:last-child:after{
      display: none;
    }
  }
}

.actions{

  text-align:right;

  > a, > div{
    margin-left:15px;
    // font-size:13px;
  }



  // > span:last-child, > a:last-child, > div:last-child{
  //   margin-right:0;
  //   &:after{
  //     content:none;
  //     width: 2px;
  //     height: 2px;
  //     margin: 0 10px;
  //     display: inline-block;
  //     vertical-align: middle;
  //     background-color: #c6c6c6;
  //     border-radius: 50%;
  //   }
  // }

  // > a{
  //   color:#484848;
  // }

}

.comment-editor{
  border-radius: 5px;
  overflow: hidden;
}


// .actions{
//   > div, > a{
//     margin-right: 15px;
//   }
// }

@import './response', './dark';

