.container{
  padding:20px;

  line-height: 200%;

  h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  h2{
    font-size: 22px;
    font-weight: bold;
    margin:0px;
  }

}
