.box{
  border-radius: 6px;
  overflow: hidden;
  // background-color: #fff;
  margin:0 0 10px 0;
}

.editor-placeholder{
  width: 100%;
  height: 240px;
  // background-color: #fff;
}

.editor{
  margin-top:10px;
  // border-top:1px solid #eaedf0;
}