
.item{

  // background-color: #efefef;
  // border-top:1px solid #e6e8eb;

  .item-head{

    font-size: 13px;

    padding-top:10px;
    padding-left:60px;
    line-height: 20px;

    .avatar{
      img{
        position: absolute;
        margin-left:-45px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        // margin-top:-5px;
      }
    }

    .report-button{
      float:right;
      margin-right:15px;
    }

    span{
      color:#ABA8A6;
      // font-size: 12px;
      margin:0 5px 0 5px;
    }

    .info{
      span{
        color:#ABA8A6;
        font-size: 12px;
        margin:0px;

        &:after{
          color:#ABA8A6;
          font-size: 9px;
          margin:0 5px 0 5px;
          content: '•';
        }

        &:last-child:after{
          content: '';
        }
      }
    }

    a {
      color:#333;
    }

  }

  .item-body{
    margin:0 20px 0px 60px;
    background-color: #f2f5f8;
    padding:10px;
    border-radius: 6px;
    display: inline-block;
    // word-wrap: break-word;
    // background-color: #333;
  }

  .footer{
    padding:5px 0 5px 65px;

    .actions{
      > a{
        font-size: 13px;
        margin-right: 15px;
        color:rgb(130, 130, 130);
        &:hover{
          color:rgb(99, 99, 99);
        }
      }
    }
  }

}

/*
.reply-list{
  // margin-top:15px;
  margin-left:40px;
  // background-color: #efefef;

  .item:first-child{
    border-top:1px solid #efefef;
  }

  .item-head{
    padding-left:0px;
  }

  .item-body{
    padding:10px 15px 0px 0px;
  }



}
*/


.reply{

  // border-top:1px solid #e6e8eb;
  padding-top: 15px;
  padding-bottom: 15px;

  // border-top:1px solid #efefef;

  .reply-head{
    font-size: 13px;
    a{
      color:#484848;
    }
    span{
      color:#ababab;
      font-size: 13px;
      margin:0 5px 0 5px;
    }
  }

  .reply-body{
    margin:5px 0 5px 0;
  }

  .footer{
    padding:0;
    padding-left:45px;

    .actions{
      a {
        margin-right:15px;
        margin-left:0px;
      }
    }
    // padding-left:0px;
    // padding-bottom:15px;
  }

}

.view-all-reply{
  display: block;
  padding:15px 0 15px 0;
  // border-top: 1px solid #efefef;
}

.reply-list{
  margin-left:50px;
  // border-top: 1px solid #e6e8eb;

  .item-head{
    padding-left:50px;
  }

  .item-body{
    display: inline-block;
    margin:0 0 0 50px;
    // padding-left:0px;
  }

  .actions{
    a:first-child{
      margin-left: 0px;
    }
  }

  .footer{
    padding-left:0px;
  }
}
