
.item{
  background-color: #fff;
  border-top:1px solid #c2c2c2;

  &:first-child{
    border-top:none;
  }

  .item-head{
    padding-top:20px;
    padding-left:70px;

    .avatar{
      img{
        float:left;
        margin-left:-50px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }

  .item-body{
    padding:20px;

    .reply-list{
      margin-left:50px;

      .item:first-child{
        border-top:1px solid #c2c2c2;
      }

      .item-head{
        padding-left:50px;
      }

      .item-body{
        padding:20px 0 0px 0;
      }

    }

  }

}
