
.item{
  background-color: #fff;
  border-top:1px solid #efefef;

  &:first-child{
    border-top:none;
  }

  .item-head{
    padding-top:15px;
    padding-left:70px;

    .avatar{
      img{
        float:left;
        margin-left:-50px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }

  .item-body{
    padding:15px;
  }

}

.reply-list{
  margin-top:15px;
  margin-left:50px;
  background-color: #efefef;

  .item:first-child{
    border-top:1px solid #efefef;
  }

  .item-head{
    padding-left:50px;
  }

  .item-body{
    padding:15px 0 0px 0;
  }

}
