
.node-selector{
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

.topics-container{
  // position: relative;
  // max-width:600px;
  // margin:30px auto 0 auto;
  padding:0 20px 20px 20px;
  // background-color: #fff;
  // box-shadow: 0 0 20px rgba(0,0,0,0.1);
  // border-radius: 5px;

  .close{
    float:right;
    width:16px;
    height:16px;
    // background-image: url('../../containers/global/images/close.png');
    background-size: cover;
    opacity: .5;
    &:hover{
      opacity: .3;
    }
  }

  .head{
    margin-top:10px;
  }

  .topic{
    display: inline-block;
    margin:10px 20px 0 0;
    cursor: hand;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }

  .active{
    display: inline-block;
    margin:10px 20px 0 0;
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
  }

}

.mask{
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, .25);
  // z-index: 9;
}

/*
.title{
  position: relative;
  display: table;
  width:100%;
  margin-bottom:10px;

  > div{
    position: relative;
    display: table-cell;
    background-color: #fff;
    border-right:1px solid #efefef;
    padding:0 15px 0 15px;
    width: 1%;

  }

  > input{
    position: relative;
    display: table-cell;
    width: 100%;
    height: 40px;
    border-radius: 0px;
    border:0px;
  }

}
*/

.choose-topic-button{
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
}

.title{
  width: 100%;
  height: 45px;
  border:none;
  text-indent: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.editor{
  display: block;
  // background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.button{
  margin-top:10px;
  width:100%;
  border: none;
  background-color: #fff;
  height: 45px;
  border-radius: 5px;
}
