.item{
  padding: 10px 10px 10px 50px;
  min-height: 50px;

  .avatar{
    float:left;
    margin-left:-40px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  .nickname{
    font-size: 12px;
  }
  
  .action{
    > a{
      margin-right:10px;
      font-size: 12px;
    }
  }
  
  .content{
    display: inline-block;
    padding:5px 10px 5px 10px;
    border-radius: 6px;
    background-color: #efefef;
  }
  
}

.right{
  padding-left:10px;
  padding-right:50px;
  text-align: right;

  .avatar{
    float:right;
    margin-right:-40px;
  }

  .content{
    background-color: #cbddff;
    text-align: left;
  }
  
}
