.icon{
  margin:100px 0 15px 0;
  img{
    width:100px;
    height: 100px;
    border-radius: 20px;
  }
}

.title{
  font-size: 20px;
}

.qrcode{
  margin: 60px auto 0 auto;
  background-color: #fff;
  padding:20px;
  width: 220px;
  border-radius: 12px;
}