
.container{
  margin-top:100px;
  color:#5c5f66;
  text-align: center;
}

.icon{
  margin-bottom: 20px;
  img{
    width: 100px;
    height: 100px;
  }
}

.h1{
  font-size:22px;
  margin-bottom: 10px;
}

.h2{
  font-size:26px;
  margin-bottom: 70px;
}

.qrcode{

  position: absolute;
  display: none;
  background-color: #fff;
  padding:15px;
  padding-bottom:11px;
  border-radius: 12px;
  // margin-top:30px;
  border:1px solid #e4e9f0;
  margin:35px 0 0 -30px;
  canvas{
    width: 118px !important;
    height: 118px !important;
  }
}

.button{
  display: inline-block;
  background-color: #fff;
  border:1px solid #e4e9f0;
  padding: 10px 30px;
  width: 150px;
  text-align: center;
  border-radius: 30px;
  margin-right: 5px;
  margin-left: 5px;
  color:#5c5f66;
  margin:0 5px 10px 5px;

  &:hover{
    .qrcode{
      display: block
    }
  }
}


.tips{
  display: inline-block;
  background-color: #0170f9;
  padding:5px 15px 5px 15px;
  margin-bottom:20px;
  color:#fff;
  border-radius: 6px;
}