.container{
  background-color: #fff;
  padding:20px;
  border-radius: 5px;
  h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  h2{
    font-size: 22px;
    font-weight: bold;
    margin:0px;
  }
}
