.nodes{

  font-size: 13px;

  li a{
    display: block;
    background-color: #fff;
    height: 50px;
    padding:20px 20px 20px 65px;
    border-bottom:1px solid #efefef;
    color:#666;
  }

  .avatar{
    float:left;
    margin-left:-50px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin-right:15px;
  }

  .nodeName{
    color:#484848;
    font-size: 16px;
    margin-bottom:5px;
  }

  .otherInfo{
    span{
      &:after{
        color:#d8d8d8;
        font-size: 8px;
        margin:0 6px 0 6px;
        content: '•';
      }
      &:last-child:after{
        content: '';
      }
    }
  }

  .follow{
    float:right;
  }

}
