
.item{

  // background-color: #efefef;
  // border-top:1px solid #e6e8eb;

  .item-head{

    font-size: 14px;

    padding-top:15px;
    padding-left:83px;
    padding-right:20px;
    // line-height: 20px;

    color:#777;
    // margin-bottom: 5px;

    b{
      font-size: 15px;
    }
    
    .avatar{
      img{
        position: absolute;
        margin-left:-63px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #efefef;
        // margin-top:-5px;
      }
    }

    .report-button{
      float:right;
      margin-right:15px;
    }

    > div{

      > span, > a{
        // color:#ABA8A6;
        font-size: 14px;
        // margin:0 5px 0 5px;
  
        // color:#999;
        // color:#615e5e !important;
        
        /*
        &:after{
          vertical-align: top;
          color:#cdcdcd;
          font-size: 8px;
          margin:0 8px 0 8px;
          content: '•';
        }
  
        &:last-child:after{
          content: '';
        }
        */
  
      }

    }

    .info{
      span{
        // color:#ABA8A6;
        font-size: 12px;
        margin:0px;

        &:after{
          // color:#ABA8A6;
          font-size: 9px;
          margin:0 5px 0 5px;
          content: '•';
        }
        
        &:last-child:after{
          content: '';
        }
      }
    }

    a {
      // color:#333 !important;
      font-size: 13px !important;
    }

  }

  .item-body{
    // margin:0 20px 0px 10px;
    // background-color: #f2f5f8;
    // padding:15px;
    padding:5px 15px 5px 83px;
    // border-radius: 6px;
    width:100%;
    // display: inline-block;
    // word-wrap: break-word;
    // background-color: #333;
    img{
      max-height: 150px;
    }
  }

  .footer{
    // display: none;
    padding:0 15px 10px 83px;

    // text-align: right;

    
    .actions{

      > span, > a, > div{
        margin-right:20px;
        font-size:14px;
      }
      > span:last-child, > a:last-child, > div:last-child{
        margin-right:0;
      }
      
      > span{
        // color:#999;
        font-size: 14px;
      }

      // > a, > div a {
        // color:#999;
      // }

      /*
      span{
        font-size: 12px;
        color:#999;
        margin-right:20px;
      }
      a{
        font-size: 13px;
        margin-right: 15px;
        color:#676767;
      }
      */

    }
  }

}

/*
.reply-list{
  // margin-top:15px;
  margin-left:40px;
  // background-color: #efefef;

  .item:first-child{
    border-top:1px solid #efefef;
  }

  .item-head{
    padding-left:0px;
  }

  .item-body{
    padding:10px 15px 0px 0px;
  }



}
*/


.reply{

  // border-top:1px solid #e6e8eb;
  padding-top: 15px;
  padding-bottom: 15px;

  // border-top:1px solid #efefef;

  .reply-head{
    font-size: 13px;
    // a{
      // color:#14171a;
    // }
    span{
      // color:#ababab;
      font-size: 13px;
      margin:0 5px 0 5px;
    }
  }

  .reply-body{
    margin:5px 0 5px 0;
  }

  .footer{
    // padding:0;
    padding-left:45px;

    .actions{
      a {
        margin-right:15px;
        margin-left:0px;
      }
    }
    // padding-left:0px;
    // padding-bottom:15px;
  }

}

.view-all-reply{
  display: block;
  padding:15px 0 15px 0;
  // border-top: 1px solid #efefef;
}

.reply-list{
  margin-left:83px;
  // border-top: 1px solid #e6e8eb;

  .item-head{
    padding-left:62px;
  }

  .item-body{
    display: inline-block;
    // margin:0 0 0 50px;
    padding-left:62px;
    // color:#14171a;
    img{
      max-height: 150px;
    }
  }

  .actions{
    a:first-child{
      margin-left: 0px;
    }
  }

  .footer{
    padding-left:62px;
  }
  // .view-all-reply{
    // padding-left:45px;
  // }
}


@media (min-width: 0px) and (max-width: 767px) {
  .item{
  
    .item-head{

      padding-left: 60px;

      .avatar{
        img{
          margin-left:-45px;
          width: 35px;
          height: 35px;
        }
      }

    }

    .item-body{
      padding-left: 60px;
    }
  
    .footer{
      padding-left: 60px;
    }

  }

  .reply-list{
    .item-head{ padding-left: 45px; }
    .item-body{ padding-left: 45px; }
    .footer{ padding-left: 45px; }
  }
}