.header{

  text-align: center;

  img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.follow{
  font-size: 12px;
  b{
    font-size: 14px;
  }
  > div{
    display: inline-block;
    width:33.333%;
    padding:10px 0 10px 0;
  }
}

.my-active{
  > div{
    padding:1rem 0 1rem 0;
  }
}
