.topic-nav{
  margin:10px 0 10px 0;
   > a{
     display: inline-block;
     margin-right:10px;
     color:#484848;
     padding:0 10px 0 8px;
     // border:1px solid #333;
     border-radius: 30px;
     background-color: #fff;
     margin-bottom: 10px;
     height: 30px;
     line-height: 30px;
     &:hover{
       background-color: rgba(255,255,255, .7);
     }
     > img {
       width: 18px;
       height: 18px;
       border-radius: 50%;
       margin-right:5px;
       margin-top: -2px;
     }
   }
}


.topic-info{

  background-color: #fff;
  padding:15px;
  padding-left:100px;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 100px;
  color:#9ea2a8;

  .avatar{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left:-85px;
    border-radius: 5px;
  }

  .name{
    font-size: 16px;
    font-weight: bold;
    color:#484848;

    a:after {
      color:#ABA8A6;
      font-size: 9px;
      margin:0 5px 0 5px;
      content: '>';
    }

  }

  .status{
    span{
      margin-right:15px;
    }
  }

}
