

.loading{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
  z-index: 999;

  > span{
    float:left;
    margin:20px 0  0 20px;
    width: 60px;
    height: 60px;
    // background-image: url(./images/loading.png);
    background-size: cover;
  }

}
