.item{
  padding: 10px 10px 10px 40px;
  min-height: 50px;

  .avatar{
    float:left;
    margin-left:-40px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  .nickname{
    font-size: 12px;
  }
  
  .action{
    > a{
      margin-right:10px;
      font-size: 12px;
    }
  }
  
  .content{
    display: inline-block;
    padding:10px 10px 10px 10px;
    border-radius: 8px;
    background-color: #f0f2f6;
    border-top-left-radius: 3px;
    img{
      width: 100%;
      max-width: 280px;
    }
  }
  
}

.right{
  padding-left:10px;
  padding-right:40px;
  text-align: right;

  .avatar{
    float:right;
    margin-right:-40px;
  }

  .content{
    background-color: #d2e4ff;
    text-align: left;
    border-radius: 8px;
    border-top-right-radius: 3px;
  }
  
}

@import './dark';