.head{
  background-color: #fff;
  padding:15px 20px 5px 20px;
  font-size: 18px;
  font-weight: bold;
}

.add{
  background-image: url(./images/add.png);
  background-repeat: no-repeat;
  background-size: 48px;
  height: 48px;
  line-height: 48px;
  padding-left: 63px;
  background-position: left center;
  font-size: 16px;
  // margin-bottom: 5px;
  // text-decoration: underline;
}

.status{
  span {
    &:after{
      content:'•';
      color:#d2d5db;
      font-size: 9px;
      margin:0 8px;
    }
    &:last-child:after{
      content: '';
      margin:0px;
    }
  }

}