@import "../../containers/global/base.scss";

.item{
  padding:15px 15px 15px 75px;
  border-top:1px solid $light-gray;
}

.detail{
  font-size: 14px;
  word-break:break-all;
  word-wrap:break-word;
  a{
    color:#444444;
  }
  a:hover{
    text-decoration: underline;
  }

  .abstract-image{

    > div{

      display: inline-block;
      height: 100px;
      width: 180px;
      margin-right:5px;

      > div{
        display: inline-block;
        float: left;
        height: 100px;
        width: 180px;
        background-color: #efefef;
        background-size: cover;
        margin:0 10px 0 0;
        background-position: center;
        border-radius: 3px;
        margin:5px 5px 0 0;
      }

    }

  }

}


.head{

  .avatar{
    position: absolute;
    // top:15px;
    // left:15px;
    margin-left:-60px;
    width: 45px;
    height: 45px;
    background-color: #efefef;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 45px;
      height: 45px;
    }

  }

  span{
    font-size: 12px;
    color:#a4a4a4;

    &:after{
      color:#b5b5b5;
      font-size: 9px;
      margin:0 5px 0 5px;
      content: '•';
    }

    &:last-child:after{
      content: '';
    }

    a{
      // color:#555;
      &:hover{
        text-decoration: underline;
      }
    }

  }

  /*
  font-size: 12px;
  > span{
    margin-right:10px;
    color:#d8d8d8;
    > a{
      color:#555;
    }
  }
  */

}


.footer-action{
  // display: none;
  float:right;
  > span{
    font-size: 13px;
    margin-left:10px;
    a{
      color:#555;
    }
  }
}

.comment-list{
  padding-left:75px;
  > div > div > div {
    padding-left:60px;
  }
}


.click-item{
  @extend .item;
  &:hover{
    background-color: #f9f9f9;
    @include cursorHand;
  }

  .avatar{
    margin-left:-45px;
    width: 35px;
    height: 35px;
    img{
      width: 35px;
      height: 35px;
    }

  }

}
