@import "../../containers/global/base.scss";

.item{

  padding:15px 15px 15px 65px;
  background:#fff;
  border-top:1px solid $light-gray;

  .avatar{
    float:left;
    margin-left:-50px;
    width:35px;
    height: 35px;
    border-radius: 50%;
  }

  .comment-item-footer{
    span{
      margin-right:10px;
    }
  }

}

.head{
  font-size: 12px;

  span{
    font-size: 12px;
    color:#cccccc;

    &:after{
      color:#d8d8d8;
      font-size: 9px;
      margin:0 5px 0 5px;
      content: '•';
    }

    &:last-child:after{
      content: '';
    }

    a{
      color:#555;
      &:hover{
        text-decoration: underline;
      }
    }

  }

}

.create-at{
  float:right;
  margin:15px 15px 0 0;
  color:#ccc;
  font-size: 12px;
}

.write-reply{
  width: 100%;
}

.replys{
  width: 100%;
  .item{
    width: 100%;
  }
}
