

.posts{
  // padding:15px 20px 15px 20px;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

.head{



  padding:10px 20px 10px 20px;

  // margin-bottom:10px;

  .author-avatar{
    position: absolute;
    left:100%;
    top:20px;
    // float:right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left:-70px;
    // margin-top:-40px;
  }

  span{
    font-size: 12px;
    color:#999;

    &:after{
      color:#999;
      font-size: 9px;
      margin:0 5px 0 5px;
      content: '•';
    }

    &:last-child:after{
      content: '';
    }


  }

}

.title{
  padding:20px 85px 0px 20px;
  font-size: 24px;
  word-break:break-all;
  word-wrap:break-word;
  line-height: 130%;
}

.detail{

  width: 100%;
  // margin-top: 10px;
  padding: 20px;
  border-top:1px solid #efefef;
}

.other{
  padding:10px 20px 10px 20px;
  // background-color: #fff;
  border-top:1px solid #efefef;
  margin-bottom:10px;
  background-color: rgba(255, 255, 255, .6);
}

.actions{
  float:right;
  a{
    font-size: 13px;
    margin-left:10px;
  }
}

.comment-editor{
  border-radius: 5px;
  overflow: hidden;
}
