.content{

  box-sizing: border-box;
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 160%;
  // color:#14171a;

  @media (max-width: 767px) {
    font-size: 15px;
  }

  a{
    color:#0073ff !important;
  }

  p{
    margin:0px;
    padding:0px;
    min-height: 15px;
  }

  h2{
    font-size:18px;
    margin:30px 0 15px 0;
    padding-bottom:15px;
    border-bottom: 1px solid #eaecef;
  }

  ul{
    margin-left:20px;
  }

  pre{
    margin-top:15px;
  }

  img{
    max-width: 100%;
    margin-top:15px;
  }

  blockquote{
    padding: 0 15px 0 15px;
    color: #6a737d;
    border-left: 4px solid #dfe2e5;
  }

  embed, iframe{
    width:100%;
    min-height: 420px;
    border: none;
    margin:15px 0 15px 0;
    
    @media (min-width: 0px) and (max-width: 767px) {
      min-height: 220px;
    }
  }

  iframe[src^="//music.163.com"] {
    min-height: auto;
  }

}


.max-height{
  max-height: 150px;
  overflow: hidden;
}

.expand-button{
  // position: relative;
  // display: block;
  padding:10px 0 5px 0;
  // margin-top:-20px;
  // background-color: #333;
  // background: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
}


.more-tips{
  // position: relative;
  width: 100%;
  text-align: center;
  // background-color: #333;
  height: 100px;
  // line-height: 30px;
  // line-height: 80px;
  padding-top:20px;
  // top:-60px;
  color:#007bff;
  // margin-bottom: 30px;
  // background: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%);  /** IE9 IE10 **/

  .lock{
    background-image: url(./images/lock.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:20px;
  }

  .sign{
    margin-top:15px;
    > a{
      margin:0 10px 0 10px;
    }
  }

}

:global(#dark-theme){
  .content{
    h2{
      border-bottom: 1px solid #393f4e;
    }
    blockquote{
      padding: 0 15px 0 15px;
      color: #606983;
      border-left: 4px solid #717f92;
    }
  }
}
