:global{

	.markdown-body {
    
		box-sizing: border-box;
    font-size: 14px;

    word-break: break-all;
    word-wrap: break-word;

    h2{
      font-size:18px;
      padding-bottom:16px;
    }

    a{ color:#4170ea !important; }

    embed, iframe{
      width:100%;
      min-height: 420px;
      border: none;
      
      @media (min-width: 0px) and (max-width: 767px) {
        min-height: 220px;
      }
    }

    iframe[src^="//music.163.com"] {
      min-height: auto;
    }

	}

	@media (max-width: 767px) {
		.markdown-body {
      font-size: 15px;
		}
	}

}

.max-height{
  max-height: 150px;
  overflow: hidden;
}

.expand-button{
  // position: relative;
  // display: block;
  padding:10px 0 5px 0;
  // margin-top:-20px;
  // background-color: #333;
  // background: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
}


.more-tips{
  position: relative;
  width: 100%;
  text-align: center;
  // background-color: #333;
  height: 100px;
  // line-height: 30px;
  // line-height: 80px;
  padding-top:80px;
  top:-60px;
  color:#007bff;
  margin-bottom: 30px;
  background: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%);  /** IE9 IE10 **/

  .lock{
    background-image: url(./images/lock.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:20px;
  }

  .sign{
    margin-top:15px;
    > a{
      margin:0 10px 0 10px;
    }
  }

}
