.child-topic{
  a{
    display: inline-block;
    line-height: 200%;
    font-size: 13px;
    background-color:#f6f6f6;
    margin:5px 5px 5px 0px;
    padding:0 10px 0 10px;
    border-radius:20px;
    color:#6c757d;
    &:hover{
      background-color:#eeeeee;
      color:#484848;
    }
  }
}

@import './dark';