
.a{

  // font-size: 13px;
  // padding:15px;
  // border-bottom:1px solid #efefef;
  padding-left:50px !important;
  // line-height: 160%;

  img{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #efefef;
    margin-left:-35px;
    border-radius: 50%;
  }
  
}
