
.body{

  padding:20px;

  .form{
    select{
      position: absolute;
      width: 30%;
      height: 49px;
      border-right: 1px solid #efefef;
    }
    input:first-of-type{
      padding-left: 30%;
      text-indent: 15px;
    }
    input{
      padding:0px;
    }
  }

}

.footer{
  text-align: right;
  input{
    border-radius: 3px;
    margin-left: 15px;
  }
}
