@import "../../containers/global/base.scss";

.item{
  // display: block;
  background-color: #fff;
  min-height: 50px;
  padding:15px 15px 15px 80px;
  border-bottom:1px solid $light-gray;
  // color:#666;
  // margin-bottom: 10px;
  // border-radius: 3px;
}

.avatar{
  position: absolute;
  margin-left:-65px;
  margin-top:3px;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background-color: #efefef;
}

.info{

  span{
    font-size: 13px;
    color:#999;

    &:after{
      color:#d8d8d8;
      font-size: 9px;
      margin:0 5px 0 5px;
      content: '•';
    }

    &:last-child:after{
      content: '';
    }

    a{
      color:#555;
      &:hover{
        text-decoration: underline;
      }
    }

  }

}


.name{
  font-size: 15px;
  color:#000 !important;
  // font-weight: bold;
}

.brief{
  font-size: 13px;
  color:#555;
  width:80%;
  // margin-top:2px;
}

.count{
  font-size: 12px;
  color:#555;
  // color:$gray;
  span{
    &:after{
      color:#d8d8d8;
      font-size: 9px;
      margin:0 5px 0 5px;
      content: '•';
    }
    &:last-child:after{
      content: '';
    }
  }
}

.actions{
  // display: none;
  float:right;
  a{
    margin-left:10px;
    font-size: 12px;
    color:#555;
  }
}

.item{

  &:hover .actions{
    display: block;
  }

}
