.ad{
  width: 280px;
  height: 160px;
  background-color: #efefef;
  border-radius: 8px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  margin:0 auto 30px auto;
}