.comment-list{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.editor-comment{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.author-info{
  // padding-left:60px;
  text-align: center;
}

.nickname{
  font-size: 16px;
  margin-top:12px;
  font-weight: bold;
}

.brief{
  widows: 80%;
}

.avatar{
  // position: absolute;
  // margin-left:-60px;
  width:65px;
  height:65px;
  border-radius: 50%;
}