<!-- Start Navbar -->
<header class="headerbar">
  <div><div role="button" on="tap:sidebar1.toggle" tabindex="0" class="menu" id="menu">☰</div></div>
  <div><a href="https://www.huarenhouse.com" class="logo" id="logo"><amp-img src="https://imgs.huarenhouse.com/huarenhouse-amp-logo-20171026.png" width="200" height="40"></a></div>
  <div></div>
</header>
<!-- End Navbar -->

<!-- Start Sidebar -->
<amp-sidebar id="sidebar1" layout="nodisplay" side="left">
  <div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar">✕</div>
  <ul class="sidebar">
    <li><a href="https://www.huarenhouse.com/" title="首页">首页</a></li>
    <li><a href="https://www.huarenhouse.com/houses" title="美国房源">美国房源</a></li>
    <li><a href="https://www.huarenhouse.com/agents" title="美国经纪人">美国经纪人</a></li>
    <li><a href="https://www.huarenhouse.com/wiki" title="地产百科">地产百科</a></li>
    <li><a href="https://www.huarenhouse.com/ask" title="地产知道">地产知道</a></li>
    <li><a href="https://www.huarenhouse.com/research" title="地产研究院">地产研究院</a></li>
    <li><a href="https://www.huarenhouse.com/news" title="美国资讯">美国资讯</a></li>
  </ul>
</amp-sidebar>
<!-- End Sidebar -->
