.box{
  position: relative;

  padding-left:260px;
  padding-right:260px;

  .left{
    position: fixed;
    width:250px;
    margin-left:-260px;
  }

  .right{
    position: absolute;
    top:0px;
    left:100%;
    width: 250px;
    margin-left: -250px;
  }

}

.two{
  max-width: 980px;
  margin:0 auto;
  padding-left:0px;
  padding-right:310px;
  .right{
    width:300px;
    margin-left:-300px;
  }
}

@media (min-width: 0px) and (max-width: 991px) {

  .box{
    padding-left: 0px;
    padding-right: 0px;
  }

  .left{
    display: none;
  }

  .right{
    display: none;
  }

}
