@import "../../containers/global/base.scss";



.item{
  width:100%;
  display: inline-block;
  background-color: #fff;
  // background-color: #fff;
  // min-height: 50px;
  padding:15px 15px 15px 55px;
  border-bottom:1px solid $light-gray;
  @include boxSizing();
  // color:#666;
  // margin-bottom: 10px;
  // border-radius: 3px;
}

.avatar{
  position: absolute;
  margin-left:-40px;
  margin-top:-3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #efefef;
}


.left{
  width:60%;
  display: inline-block;

  color:#a19d9d;
  font-size: 13px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;

  a {
    display: inline-block;
    font-size: 15px;
    color:#000;
    margin-right:10px;
  }

  .brief{
    // float:left;
    display: inline-block;
    // width:60%;
    color:#555;

    // letter-spacing:.5px;
  }

}

.right{
  float:right;
  // display: inline-block;
  width:40%;
  text-align: right;
  a{
    margin-left:10px;
    font-size: 12px;
    color:#555;
  }
}



.footer{
  width:100%;
  a{
    margin-right:10px;
    font-size: 13px;
  }
}
