

.box{
  height: 90px;
  padding-left:90px !important;
  font-size: 12px;

  b{
    display: block;
    font-size: 14px;
    margin-top:10px;
    margin-bottom:5px;
  }
}

.QRCode{
  position: absolute;
  margin-left:-75px;
}