
.a{

  padding-left:45px;
  line-height: 160%;

  a {
    color:#484848;
    &:hover{
      text-decoration: underline !important;
    }
  }

  img{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #efefef;
    margin-left:-33px;
    border-radius: 50%;
  }
}
