@import "../../containers/global/base.scss";

.header{
  position: fixed;
  left:0;
  top:0;
  background-color: rgba(255, 255, 255, 1);
  height: 45px;
  line-height: 45px;
  width: 100%;
  // border-bottom:1px solid #ebebeb;
  // border-top:1px solid #f1f1f1;
  // margin-top: -1px;
  // box-shadow: 0 0 1px rgba(0, 0, 0, .2);
  box-shadow: 0 0 5px rgba(0,0,0,.07);
  // box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
  z-index: 99;
  > div{
    margin:0 auto;
  }

  @include respond-to(sm) {
    top: auto;
    bottom:0;
  }
  @include respond-to(xs) {
    top: auto;
    bottom:0;
  }

  ul{
    list-style-type: none;
    padding:0px;
    margin:0px;

    li{
      float:left;
      width:25%;
      a{
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;

        &:hover{
          text-decoration: none;
          // color: rgb(7, 128, 227);
          // background-color: #efefef;
        }
      }
    }
  }

  :global .three{
    li{
      width:33.333%;
    }
  }
}

.active{
  color: $blue;
}

.placeholder{
  height: 55px;
  width: 100%;

  @include respond-to(sm) {
    display: none;
  }
  @include respond-to(xs) {
    display: none;
  }

}

@include respond-to(sm) {
  body{
    padding-bottom: 48px !important;
  }
}

@include respond-to(xs) {
  body{
    padding-bottom: 48px !important;
  }
}

.unread-notice{
  position: absolute;
  margin:8px 0 0 -6px;
  background-color: red;
  color:#fff;
  min-width: 16px;
  padding:0 4px 0 4px;
  height: 16px;
  line-height: 16px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bold;
  @include boxSizing();
}
