@import "../../containers/global/base.scss";


.header{
  position: fixed;
  left:0;
  top:0;
  background-color: rgba(255,255,255,1);
  height: 45px;
  line-height: 45px;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 3px #cdcfd3;

  ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    // display: table;

    li{
      float: left;
      width:50%;
      vertical-align: top;
      a{
        display: block;
        height: 45px;
        width: 100%;

        font-size: 14px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .sign{
    li{
      width:25%;
    }
  }
}


.logo{
  position: fixed;
  z-index: 1000;
  top:0px;
  left:0px;
  width: 70px;
  height: 45px;
  background-image: url(./images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  @include respond-to(sm) {
    display: none;
  }
  @include respond-to(xs) {
    display: none;
  }
}

.active{
  color: $blue;
  font-weight: bold;
}

.placeholder{
  height: 55px;
  width: 100%;
}

.unread-notice{
  position: absolute;
  margin:8px 0 0 -6px;
  background-color: red;
  color:#fff;
  min-width: 16px;
  padding:0 4px 0 4px;
  height: 16px;
  line-height: 16px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bold;
  @include boxSizing();
}
