
.box{
  text-align: center;
  font-size: 14px;
  padding:20px 0 40px 0;
}

.more{
  display: block;
  width:100%;
  height: 60px;
  line-height: 40px;
  &:hover{
    background-color: #f9f9f9;
  }
}

  @-webkit-keyframes ball-pulse-sync {
    33% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px); }
    66% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

  @keyframes ball-pulse-sync {
    33% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px); }
    66% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

  .ball-pulse-sync > div:nth-child(1) {
    -webkit-animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
            animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out; }

  .ball-pulse-sync > div:nth-child(2) {
    -webkit-animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
            animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out; }

  .ball-pulse-sync > div:nth-child(3) {
    -webkit-animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
            animation: ball-pulse-sync 0.6s 0s infinite ease-in-out; }

  .ball-pulse-sync > div {
    background-color: rgb(0, 186, 255);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block; }
