.unread{
  background-color: #f2fbff;
}

  .new{
    background:rgb(216, 246, 250);
  }

  .create-at{
    float:right;
    color:#d6d6d6;
    font-size: 12px;
    margin-left:20px;
  }

  .header{
    text-indent: 20px;
    color: #909090;
    font-size: 13px;

    a{
      margin:0 5px;
      font-size: 13px;
    }

    .avatar{
      position: absolute;
      margin:-1px 0 0 -25px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

  }

  .content{
    margin-top:10px;
    background-color: #f7f7f7;
    padding:10px;
    border-radius: 8px;
    img {
      max-width: 300px;
    }
  }

  .footer{
    font-size: 14px;
  }


.actions{
  float:right;
  a{
    color:#555 !important;
  }
}

.content_trim{
  &:hover{
    cursor: pointer;
    cursor: hand;
  }
}

.nothing{
  color:rgb(177, 177, 177);
  background-color: #fff;
  text-align: center;
  padding:10px 0 10px 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.del{
  color:#c8c8c8 !important;
  div{
    color:#c8c8c8 !important;
  }
  a{
    color:#c8c8c8 !important;
  }
}

@import './dark';