:global(#dark-theme) {
  .title{
    background-color: #373737;
    &:hover{
      background-color: #404040;
    }
  }

  .item{
    &:hover{
      background-color: #353535;
    }
  }

  .nickname{
    color: #575b5f;
  }

  .reply-item{
    background-color: #373737;
  }
}
