.box{
  padding:20px;
}

.report-content{
  margin-bottom:20px;
  padding:15px;
  background-color: #efefef;
  border-radius: 5px;
}

.types{
  label {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    input {
      margin-right:8px;
    }
  }
}

.detail{
  margin:10px 0 10px 0;
  textarea{
    width: 100%;
    height: 100px;
  }
}
