.container{
  background-color: #fff;
  padding:20px;
  line-height: 30px;
  h1{
    font-size: 25px;
    text-align: center;
    margin:20px;
    font-weight: bold;
  }
  h2{
    font-size: 22px;
    font-weight: bold;
  }
}
