
.item{
  // width: 100%;
  // padding:0px 0 0px 0;
  // border-radius: 4px;
  // overflow: hidden;
  // margin-bottom: 10px;
  // border:1px solid rgba(0,0,0,.05) !important;
  // box-shadow: 0 0px 3px rgba(0,0,0,.08);
  // padding-bottom:20px;
  // overflow: hidden;
  // margin-bottom: 0px !important;
  // border-radius: 0px;
  // border-bottom:1px solid #efefef !important;
  // padding-left:65px;
  // padding-top:15px;
  // margin-bottom:0px;
  // border-radius: 0px;

  &:hover{
    background-color: rgba(255,255,255,.7) !important;
    cursor:pointer;
    cursor:hand;
  }
}





.item-active{
  width: 100%;
  background-color: #fff;
  // border-bottom:1px solid #eaedf0;
  // margin:10px 0 10px 0;
}

/*
.info{

  padding-left:15px;
  font-size: 13px;

  a{
    color:#999;
  }

  .avatar{
    position: absolute;
    margin:0 0 0 -65px;
    width: 50px;
    height: 50px;
    // background-color: #efefef;
    // border-radius: 50%;
    // overflow: hidden;
    img{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #efefef;
    }
  }
}
*/

.head{

  font-size: 12px;
  // z-index: 999;
  padding:13px 15px 0 58px;
  height: 55px;

  .avatar{
    position: absolute;
    margin:0 0 0 -42px;
    width: 32px;
    height: 32px;
    // background-color: #efefef;
    // border-radius: 50%;
    // overflow: hidden;
    img{
      border-radius: 50%;
      width: 32px;
      height: 32px;
      background-color: #efefef;
    }
  }

  .people-brief{
    margin-left: 10px;
    color:rgb(149, 149, 149);
  }

  .right{
    float:right;
  }

  .info{

    width:100%;
    line-height: 35px;
    // margin-top:3px;

    .nickname{
      font-size: 13px;
      color:#484848;
      // font-weight: bold;
    }

    .menu{
      float:right;
    }

    // a{
      // color:#ABA8A6;
      // color:#484848 !important;
    // }

    // span {
      // float:left;
      // margin-top:6px;
      // font-size: 14px;
      // font-weight: bold;
      // color:#14171a;
    // }
    
    /*
    a:hover{
      text-decoration: underline !important;
    }

    div > span{

      // color:#999;

      &:after{
        vertical-align: top;
        // color:#cdcdcd;
        font-size: 8px;
        margin:0 8px 0 8px;
        content: '•';
      }

      &:last-child:after{
        content: '';
      }

    }
    */

  }

  .interactive{
    > span {
      margin-left:15px;
      color:#d1d1d1;
    }
  }

}

.item-meta{
  display: inline;
  margin-left:10px;
  // span{
    // margin-left:5px;
    // color:#808080;
  // }
}

.title{
  font-size: 16px;

  // font-weight: 400;
  padding:0px 15px 0px 15px;
  a {
    word-break:break-all;
    word-wrap:break-word;
    font-weight: bold;
    // line-height: 1.375em;
    // font-weight: 800;



    // color:#000 !important;
  }
  
  // line-height: 130%;
  // a{
    // color:#14171a !important;
  // }

  // a:hover{
    // text-decoration: underline !important;
  // }

  // .topic-name{
  //   margin-right:5px;
  //   color:#999 !important;
  // }

}



.content{

  // white-space:normal;
  // word-break:break-all;
  // word-wrap:break-word;

  // word-wrap: break-word;
  // word-break: normal;

  // line-height: 1.6em;
  // line-height: 160%;
  // color:#14171a;
  padding:3px 15px 0 15px;
  font-size: 14px;
  // color:#484848;

  max-width: 550px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  img{
    max-width: 50%;
  }
}

.status-bar{
  padding:5px 0 20px 20px;
  span{
    font-size: 13px;
    margin-right: 10px;
    color:#949699;
  }
}

.content-have-img{

  // padding-left:200px;
  min-height: 100px;

  .images{
    float:right;
    // position: absolute;
    // margin-left:-200px;
    > div{
      width: 150px;
      height: 100px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5px;
    }
  }

}

.images{

  margin-top: 12px;

  .image-item{
    display: inline-block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #efefef;
    margin-right: 10px;
    border-radius: 5px;
  }

}

// .body{

  // padding-left:60px;

  // .cover-image{
  //   margin-left:-150px;
  //   width:150px;
  //   height:100px;
  // }
// }

// .cover-image-body{
  // padding-left:170px;
  // min-height: 100px;
// }

.footer{
  width: 100%;
  // min-height: 15px;
  padding:0 15px 0 15px;

  .actions{

    > span, > a, > div{
      margin-right:15px;
      font-size:12px;
    }

    // a{
      // color:#999 !important;
    // }
    
    > span:last-child, > a:last-child, > div:last-child{
      margin-right:0;
    }
    
    // > span{
      // opacity: .5;
      // color:#999;
      // font-size: 12px;
    // }

    // > a, > div a{
    //   color:#999;
    // }

  }


  .footer-main{
    // margin-top:10px;
    // padding-top:10px;
    // border-top:1px solid #eaedf0;
    width: 100%;

    padding:5px 0 15px 0;
    // line-height: 40px;
    // margin-top:10px;
    // padding-left: 15px;
    // padding-right: 15px;
  }

  .topic{
    // background-color: #ebecee;
    // padding:3px 5px 3px 5px;
    // border-radius: 3px;
  }

}

:global(#dark-theme) {
  .topic{
    background-color: #363b48;
  }
}

/*
.cover{
  padding-left: 210px;
  min-height: 120px;

  @media (min-width: 0px) and (max-width: 500px) {
    padding-left: 0px;
  }

}
*/
/*
.cover-image{
  position: absolute;
  margin: 0 0 0 -210px;
  width: 200px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;


  @media (min-width: 0px) and (max-width: 500px) {
    position: static;
    margin: 0px;
    width: 100%;
    height: 150px;
    margin-bottom:10px;
  }
}
*/





.cover{
  padding-right:160px;
}



.cover-image{
  float:right;
  /*
  position: absolute;
  left:100%;
  margin-left: -160px;
  margin-top:-15px;
  */
  // margin: 0px 30px 20px 20px;
  max-width: 140px;
  // height: 80px;
  text-align: right;
  margin:-10px 15px 0 15px;

  img{
    max-width: 140px;
    max-height: 60px;
    border-radius: 4px;
  }

  // background-size: contain;
  // background-position: right;
  // border-radius: 4px;
  // background-repeat: no-repeat;
}

.update_at{
  font-size: 12px;
  padding:0 15px 0 15px;
  color:#999;
}

.comment-status{
  // border-top:1px solid #efefef;
  padding:10px 0 0 5px;
  margin-top:10px;
  // text-align: right;
  img{
    // float:right;
    width: 20px;
    height:20px;
    border-radius:50%;
    // margin-right: 10px;
    // margin-left:-10px;
    border:1px solid #fff;
  }
  span{
    // line-height: 24px;
    margin-left:5px;
    margin-right: 15px;
  }
}


.collapse-container{
  float:right;
  > a:hover{
    color:#fff !important;
  }
}

.collapse-float{
  display: none;
  position:fixed;
  background-image: url(./images/collapse.png);
  background-repeat: no-repeat;
  padding:5px 5px 5px 23px;
  background-size: 14px;
  background-position: left 5px center;
  color:#4170ea;
  bottom:15px;
  margin-left: -70px;
  background-color: #fff;
  border:1px solid #4170ea;
  border-radius: 6px;
  z-index: 10;
  
  &:hover{
    background-image: url(./images/collapse-white.png);
    background-color: #4170ea;
    color:#fff;
    border:1px solid #2b56c4;
  }

  @media (min-width: 0px) and (max-width: 660px) {
    margin-left: 15px;
  }

}

:global{
  .fixed{
    display: block;
  }
}

.fold{

  &:hover{
    background-color: rgba(255,255,255,.95);
    cursor: hand;
    cursor: pointer;
  }

  :global{
    .fixed{
      display: none;
    }
  }

}

.comment-list{
  img{
    max-width: 35% ;
  }
}


:global(#dark-theme){

  .item{
    // width: 100%;
    // padding:0px 0 0px 0;
    // border-radius: 4px;
    // overflow: hidden;
    // margin-bottom: 10px;
    // border:1px solid rgba(0,0,0,.05) !important;
    // box-shadow: 0 0px 3px rgba(0,0,0,.08);
    // padding-bottom:20px;
    // overflow: hidden;
    // margin-bottom: 0px !important;
    // border-radius: 0px;
    // border-bottom:1px solid #efefef !important;
    &:hover{
      background-color: rgba(40,44,54,.7) !important;
    }
    
  }

  .title{
    a{
      color:#c7d8ee;
    }
  }

  .cover-image{
    opacity: .5;
    background-color: #000;
  }

  // .info{

  //   b{
  //     color:#fff;
  //   }
  // }

  /*
  .footer{
  
    .actions{
      
      > span{
        color:#697686;
      }
  
      > a, > div a{
        color:#697686;
      }
  
    }
  }
  */
}

