.container{
  font-size: 12px;
  // line-height: 160%;
  // margin-top:10px;

  // > div{
    // background-color: none !important;
  // }

  .beian{
    display: inline-block;
    background-image: url('./images/beian.png');
    background-repeat: no-repeat;
    padding-left:20px;
    background-size: 16px;
  }

}